.hw-mod {
  .hw-mod-explanation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 1rem;
    width: 34rem;
    margin: 4rem auto;

    .header {
      grid-column: span 2;
      text-align: center;
    }

    .option {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
    }
  }

  .no-content {
    max-width: 50rem;
    margin: auto;
  }

  .configuration-settings {
    $transition-speed: 500ms;
    transition: padding-top $transition-speed;
    padding-top: 1.5rem;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    &.banner-shown {
      padding-top: 5rem;
    }

    .notice-banner {
      $notice-banner-top-offset: 1rem;
      height: auto;
      position: absolute;
      transition: transform $transition-speed;
      top: $notice-banner-top-offset;
      width: calc(100% - 3rem);
      margin-left: 1rem;
      z-index: 2;

      &.hidden {
        transform: translateY(calc(-100% - $notice-banner-top-offset));
      }

      .message {
        display: flex;
        flex-direction: row;
        align-items: center;

        .form-error-count {
          flex: 1;
        }

        .link-hover {
          flex: auto 0 0;
          padding-right: 1rem;
        }
      }

      .top-level-error {
        gap: 0.25rem;
        align-items: start;
      }
    }

    .section-menu {
      overflow: hidden;
      flex: 1;

      .minor-menu-item .svg-icon {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0);
      }

      .sections {
        min-width: 32rem;

        >.section {
          display: flex;
          flex-direction: column;
          padding-bottom: 3rem;

          .section-name {
            margin-bottom: 0.5rem;

            .svg-icon {
              font-size: 1.5rem;
              margin-right: 0.5rem;
            }
          }

          .section-description {
            display: block;
            margin-bottom: 0.75rem;
          }
        }

        .bottom-padding {
          height: 5rem;
        }
      }
    }

    .confirmation {
      flex: 0;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-top: 1px solid $pale-grey;
      padding: 1rem 2rem;

      .text-lines {
        display: flex;
        flex-direction: column;
        flex: 1;

        .text-span {
          margin: 0.25rem;
        }
      }

      .button,
      .pop-up.context-menu {
        flex: 0;
      }
    }
  }

  .peripheral-id-picker {
    height: 100%;
    display: flex;
    flex-direction: column;

    .selections {
      margin: 1rem;
      flex: 1;

      .notice-banner .details-section {
        margin-bottom: 0.5rem;

        .text-span {
          display: block;
          margin-bottom: 0.5rem;
        }
      }

      .boxed-field {
        margin: 1rem 0;
      }
    }

    .buttons {
      flex: 0 0 auto;
      border-top: 1px solid $almost-white;
      padding: 1rem;
    }
  }

  .apply-progress {
    .info-grid {
      /* stylelint-disable-next-line value-no-vendor-prefix */
      height: -webkit-fill-available;
    }

    .working {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

.hw-mod-info {
  margin: 5rem 15% 0;

  ol.info {
    list-style: decimal;

    li {
      display: list-item;
    }
  }
}
