.feedback-modal {
  textarea {
    height: 10rem;
    resize: vertical;
  }

  &.center {
    .modal-body-wrapper {
      .modal-content {
        align-items: center;
      }
    }
  }

  .modal-content {
    >* {
      margin-bottom: 1rem;
    }

    > :last-child {
      margin-bottom: 0;
    }

    .spacer {
      flex-grow: 1;
    }

    .button {
      align-self: flex-end;
    }

    .confirmation {
      color: $green;
    }

    .send-error {
      color: $error-fault;
    }
  }
}

.button.feedback-button {
  display: flex;
  align-items: center;
}
