.basic-controls {
  flex: 1;
  overflow: auto;

  .product-card {
    margin: 1rem;

    .no-content {
      position: relative;
    }

    .product-header {
      border-bottom: 1px solid $pale-grey;
      padding: 0.5rem 1rem;
      gap: 1rem;
    }

    .controller-header {
      background-color: $almost-white;
      height: 2.25rem;
    }

    .header-card .header {
      border-bottom: none;
      background-color: inherit;
    }

    .subsection.header-card {
      border-top: 1px solid $almost-white;
    }

    .controller-peripherals {
      overflow: visible;
      // A non-zero padding brings the children's margins inside the controller-peripherals div. Required since `overflow: visible`.
      padding: 0.1px;
    }

    .precise-control {
      align-self: start;

      .controls {
        .svg-icon {
          font-size: $icon-size-mid;
        }
      }
    }

    .errors {
      .device-error {
        border-top: 1px solid $pale-grey;
        padding: 0.5rem 1rem;
      }
    }

    .redirect {
      padding: 1rem;
      gap: 1rem;

      .flex-component.column {
        align-items: end;
        gap: 1rem;
      }

      .info-icon {
        font-size: 1.25rem;
        margin-right: 0.75rem;
      }

      > img {
        height: 6rem;
      }
    }
  }

  @import './io/IoSection.scss';
  @import './movement/Movement.scss';
}
