.process-controller {
  @import './components/Header.scss';
  @import './auto_tune/AutoTune.scss';

  margin: 1rem;

  hr {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
    border-top: 1px solid $almost-white;
    height: 0;
  }

  .controls-container {
    margin-top: 1rem;
    background-color: $white;

    .minor-menu-item {
      cursor: pointer;
    }

    @import './components/Process.scss';
    @import './components/Dashboard.scss';
  }
}
