<div>
    <p>
        Sorry, inline documentation is not available for devices with firmware below version 7.
        Please check our <a href="https://www.zaber.com/wiki/Manuals/ASCII_Protocol_Manual">online documentation</a>.
    </p>
</div>