.protocol-manual {
  @import '../protocol_manual/commonltr';
  @import '../protocol_manual/protocol_manual';

  background-color: #fff;

  .section {
    font-size: $font-size-body-regular;
    font-family: $font-family;
  }

  .sectiontitle {
    border: none;
  }

  .topictitle1,
  .topictitle2,
  .topictitle3 {
    font-size: $font-size-h5;
    border: none;
    margin: 0 1rem 1rem;
  }

  div.note {
    font-size: $font-size-body-regular;
    font-family: $font-family;
  }

  > .dd {
    margin: 0;
  }

  .body {
    margin-right: 1.5rem;
  }
}
