<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src https://*.zaber.io https://*.sentry.io https://*.amazonaws.com https://sentry.io https://www.zaber.com https://fwee-firmware.izaber.com:7087; img-src 'self' data: https://www.zaber.com; object-src 'self' data: https://www.zaber.com">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src https://*.zaber.io https://*.sentry.io https://*.amazonaws.com https://sentry.io https://www.zaber.com https://fwee-firmware.izaber.com:7087; img-src 'self' data:">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #app-loading-animation {
        border: 1rem solid #eee;
        border-top: 1rem solid #d32024;
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        animation: app-loading-keyframes 2s linear infinite;
        position: absolute;
        left: calc(50% - 5rem);
        top: calc(50% - 5rem);
      }

      @keyframes app-loading-keyframes {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
  </head>
  <body>
    <div id="app-loading-animation"></div>
    <div id="root"></div>
  </body>
</html>
