.select-command {
  gap: 0;
  align-items: flex-start;
  position: relative;

  .input-command {
    width: 32rem;
  }

  .command-suggestions {
    border-radius: $general-radius;
    box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%);
    background-color: $white;
    display: flex;
    flex-direction: column;
    max-height: 11.25rem;
    overflow: auto;
    width: 32rem;
    position: absolute;
    top: 2.5rem;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    .suggestion-option {
      height: 2.25rem;
      display: flex;
      flex-shrink: 0;
      align-items: center;

      &.selected {
        background-color: $zaber-white;
      }

      .suggestion-command {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 0.5rem;
        vertical-align: middle;

        .part {
          margin-right: 0.25rem;

          &.param {
            font-style: italic;
          }
        }
      }

      .unit-conversion-note {
        margin: 0 0.5rem;
        text-wrap: nowrap;
      }
    }
  }
}
