.triggers-app {
  .error-banner {
    margin: 1rem;
  }

  .trigger-card {
    margin: 1.2rem;
    min-width: 40rem;

    .header {
      background: $zaber-white;
      border-bottom: 1px solid $pale-grey;

      .trigger-header {
        gap: 1rem;
        width: 100%;

        .chevron {
          font-size: 2.5rem;
        }

        .toggle-button {
          font-size: 1.5rem;
        }

        .trigger-count-enabled .pop-up-trigger {
          cursor: default;
        }

        .trigger-count {
          width: 8rem;

          &.trigger-count-infinity input {
            text-emphasis: bold;
            font-size: 1.5rem;
          }
        }
      }
    }

    .details {
      padding-bottom: 0.25rem;
      border-bottom: 1px solid $pale-grey;

      .notice-banner {
        margin: 1rem;

        .trigger-supported-error {
          font-style: italic;
        }
      }

      .actions-area {
        margin-left: 4rem;
        margin-bottom: 1rem;
      }

      .loading-details {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;

        .loader {
          margin-right: 1rem;
        }
      }

      .details-row {
        gap: 1rem;
        margin: 1.5rem;

        .details-row-label {
          align-self: start;
          margin-top: 0.5rem;
          min-width: 5rem;
        }

        .details-row-content {
          gap: 1rem;
          flex-wrap: wrap;
          align-items: start;

          .select-axis {
            min-width: 8rem;
          }

          .select-condition-type {
            min-width: 15rem;
          }

          .select-setting {
            min-width: 15rem;
          }

          .select-operator {
            min-width: 6rem;
          }

          .select-io-channel {
            min-width: 9rem;
          }

          .select-io-digital {
            min-width: 6rem;
          }

          .input-value {
            width: 14rem;
          }

          @import './SelectCommand.scss';
        }
      }

      .save-controls {
        margin: 1rem;
      }
    }

    .error-message {
      background: $white;
      padding: 0.5rem 1rem;
    }
  }
}
