.cloud-sharing {
  .status {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .spacer {
      flex: 1;
    }

    .toggle-button {
      font-size: 1.25rem;
    }

    .online-status {
      .svg-icon {
        font-size: 1rem;
      }
    }
  }

  .connection-table {
    margin-top: 1rem;
  }

  .additional-config {
    padding: 0.25rem 0 2rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .status-value {
      display: flex;
      align-items: center;

      .help-tooltip {
        margin-left: 0.5rem;
      }
    }
  }
}
