.cloud-discovery {
  > h4 {
    margin-bottom: 1rem;
  }

  .searching {
    display: flex;
    align-items: center;
    color: $light-grey;
    padding-top: 1rem;
  }

  .nothing-found {
    padding-top: 1rem;
    max-width: fit-content;
  }

  .instruction {
    max-width: fit-content;
  }
}
