.cloud {
  background-color: $zaber-white;
  height: 100%;
  overflow: auto;

  @import './Intro.scss';
  @import './Login.scss';
  @import './LoggedIn.scss';
  @import './CloudSharing.scss';
  @import './CloudDiscover.scss';

  .service-header {
    color: $light-grey;
    margin: 1.5rem 2rem 1rem;
  }

  .heading {
    color: $light-grey;
  }
}

.add-connection {
  @import './CloudDiscover.scss';
}
