.intro {
  width: 60%;
  transform: translate(33%, 0);

  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    margin-bottom: 3rem;

    h4 {
      margin: 0.5rem 0;
    }
  }

  .heading {
    text-align: center;
    margin-bottom: 2.25rem;
  }

  .button-row {
    margin-bottom: 1rem;
  }

  .closed-testing {
    margin-bottom: 3rem;
  }
}
