.logged-in {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .context-menu {
      margin-right: 2rem;

      .pop-up-trigger {
        display: flex;
        align-items: center;
      }
    }
  }

  > .content {
    display: flex;
    margin-top: 2rem;

    > .minor-menu {
      margin-top: 0.125rem;
      margin-left: 2rem;
      margin-right: 4rem;
    }

    > .minor-content {
      flex: 1;
      margin-right: 2rem;
    }
  }
}
