.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;

  > div {
    margin-bottom: 1rem;

    &.heading {
      margin-bottom: 2.25rem;
    }

    &.inputs {
      margin-left: 3rem;
      margin-right: 3rem;

      .inner {
        width: 25rem;
      }

      .input {
        width: 100%;
        margin: 0.5rem 0;
      }

      .notice-message {
        margin-top: 1rem;
      }
    }
  }
}
