.welcome-modal {
  min-height: 26rem;
  max-width: 36rem;

  p {
    margin: 0;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .steps {
    justify-content: center;
  }

  h4 {
    text-align: center;
    margin: 1.5rem;
  }

  .sincerely {
    font-style: italic;
  }

  .button-row {
    flex-grow: 1;
  }
}
