.microscope-app {
  display: flex;
  flex-direction: column;

  &.app-ui {
    overflow: hidden;
  }

  > .header {
    margin: 1rem 1rem 0;

    .right-side {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: auto;
    }
  }

  @import './PresetEditor';
  @import './FactoryReset';
  @import './config';

  .component-setup {
    width: 70%;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    > div:first-child {
      gap: 0.25rem;
    }
  }

  .modal.multi-d-progress {
    min-height: 15rem;

    .modal-content {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .progress-bar {
        margin-top: 1rem;
      }
    }
  }
}

.microscope-container {
  overflow-y: auto;
}

.microscope-overview {
  $input-width: 16rem;

  > div {
    margin: 1rem;
  }

  > .loading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .notice-banner {
    .button {
      margin-top: 0.75rem;
    }

    li {
      .svg-icon {
        margin-right: 0.5rem;
      }
    }
  }

  .controls {
    > .contents {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 1.25rem;
    }

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.125rem;
      padding-bottom: 0.125rem;
      min-height: 3rem;

      .icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .illuminator {
    .toggle-button {
      font-size: 1.5rem;
      margin: 0 1rem;
    }

    .intensity {
      max-width: 15rem;
    }

    .intensity-label {
      flex-shrink: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 0.25rem;
    }

    .control-row {
      display: flex;
      align-items: center;

      > .spacer {
        flex: 1;
      }
    }
  }

  .changers,
  .illuminators,
  .trigger-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > div {
      flex-basis: calc(50% - 0.5rem);
      margin: 0;
    }
  }

  .filter-changer,
  .objective-changer {
    .contents {
      .simple-select {
        width: $input-width;
      }

      .select-row {
        display: flex;
        align-items: center;
        gap: 1rem;

        > .svg-icon {
          margin-left: auto;
        }
      }

      .next-prev {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .filter-changer-settings,
  .objective-changer-settings {
    .table {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem 1rem;
      align-items: center;

      > span {
        font-weight: bold;
      }
    }
  }

  .objective-changer-settings {
    .table {
      grid-template-columns: auto 1fr 1fr;
    }
  }

  .trigger-settings {
    .table {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem 1rem;
      align-items: center;

      > .label {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > span {
          font-weight: bold;
        }
      }
    }
  }

  .trigger {
    .row {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .motion {
    .table-and-arrows {
      display: flex;
    }

    .table {
      display: grid;
      grid-template-columns: auto auto fit-content(18rem);
      align-items: center;
      gap: 0 1rem;
      flex: 1;

      .theader {
        font-weight: bold;
        height: 1.5rem;

        &.pos {
          justify-self: end;
          margin-right: 10rem;
        }

        &.step {
          justify-self: end;
          margin-right: 10rem;
        }
      }

      .input {
        margin: 0.2rem 0;
      }
    }

    .arrows {
      display: flex;
      gap: 1rem;

      .svg-icon {
        font-size: 3rem;
      }

      .cross {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;

        border: 0.125rem solid $light-grey;
        border-radius: 50%;

        .x-axis.neg {
          grid-column: 1;
          grid-row: 2;
        }

        .x-axis.pos {
          grid-column: 3;
          grid-row: 2;
        }

        .y-axis.neg {
          grid-column: 2;
          grid-row: 1;
          transform: rotate(90deg);
        }

        .y-axis.pos {
          grid-column: 2;
          grid-row: 3;
          transform: rotate(90deg);
        }
      }

      .focus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0.125rem solid $light-grey;
        border-radius: 1.75rem;

        .svg-icon {
          transform: rotate(90deg);

          &:nth-child(2) {
            margin-bottom: 0.0625rem; // for unknown reason, the icon are not aligned properly
          }
        }
      }
    }

    .stored-positions {
      .positions {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
      }

      .position {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid $light-grey;
        padding: 0 0.5rem;

        .editable-field {
          .text-span {
            min-width: 6rem;
          }
        }

        label {
          display: none;
        }
      }
    }
  }

  .presets {
    .select-row {
      display: flex;
      align-items: center;
      gap: 1rem;

      > .simple-select {
        width: $input-width;
      }

      > .svg-icon {
        margin-left: auto;
      }

      > .status-text {
        display: flex;
        align-items: center;

        .button {
          display: flex;
          align-items: center;
          padding: 0.125rem 1rem;
          gap: 0.25rem;
        }

        .svg-icon {
          font-size: 1.5rem;
        }

        .confirm {
          color: $green;
        }
      }

      .edit-presets {
        margin-left: auto;
      }
    }
  }

  .autofocus {
    > .header {
      justify-content: start;
      gap: 2rem;

      .icons {
        margin-left: auto;
      }

      .laser-control {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }

    .row {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .limit-table {
      display: grid;
      grid-template-columns: 6rem 1fr 20rem 20rem;
      gap: 0.25rem 0.5rem;

      > .text-span {
        font-weight: bold;
      }

      > .limit-label {
        justify-self: end;
        margin-right: 10rem;
      }
    }

    .set-zero {
      margin-left: auto;
    }

    .stop {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      .svg-icon {
        font-size: 2rem;
      }
    }

    .indicator {
      &.ok {
        color: $green;
      }

      &.nok {
        color: $error-fault;
      }

      &.disabled {
        color: $light-grey;
      }
    }
  }

  .autofocus-settings {
    min-width: min-content;
    width: 40rem;

    .modal-content {
      gap: 1rem;
      min-height: 21rem;
    }

    .objective-select {
      margin-bottom: 0.5rem;
    }

    .table {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem 1rem;
      align-items: center;

      span {
        font-weight: bold;
      }
    }
  }
}

@import './multidacq';
