.presets-dialog {
  min-height: 20rem;
  width: 42rem;

  .modal-content {
    flex: 1;
    min-height: 0;
    padding: 1.5rem 0;

    .preset-editor {
      flex: 1;
      min-height: 0;

      .scroll-container {
        max-height: 60vh;
        flex: 1 1 auto;
        overflow-y: auto;
      }
    }
  }
}

.preset-editor {
  $input-width: 16rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .no-presets {
    margin: 0 1.5rem 1.5rem;
    flex: 1;
  }

  .select-preset {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 1.5rem;

    .simple-select {
      width: $input-width;
    }
  }

  .name {
    display: flex;
    align-items: center;
    gap: 1rem;

    .input {
      width: $input-width;
    }

    .context-menu {
      margin-left: auto;
    }
  }

  .table {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0.2rem 1rem;
    align-items: center;

    .header-label {
      font-weight: bold;
      margin-bottom: 0.25rem;
    }

    .input-checkbox {
      margin-left: 0.5rem;
    }

    input[type='number'] {
      text-align: right;
    }

    > .section {
      font-weight: bold;
      grid-column: span 2;
      margin: 1rem 0 0.25rem;
    }

    > .divider {
      border-bottom: 1px solid $light-grey;
      grid-column: span 3;
    }
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1.5rem;
  }
}
