.dashboard {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;

  .inputs {
    display: flex;
    flex-direction: row;

    .column {
      width: calc(50% - 2rem);
      display: flex;
      flex-direction: column;
      align-items: start;

      .input-with-units {
        margin-top: 1rem;
        width: 13rem;
      }
    }
  }

  .outputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      gap: 1rem;
      width: 100%;
      height: 3rem;
      padding: 0.5rem 1rem;
      box-sizing: border-box;

      &:nth-child(odd) {
        background-color: $almost-white;
      }

      .mode {
        padding: 0.25rem 0.5rem;
        background-color: $pale-grey;
        border-radius: 0.25rem;
      }

      .svg-icon {
        &.on {
          color: $green;
        }

        &.fault {
          color: $bright-red;
        }
      }
    }
  }

  .device-io {
    display: flex;
  }
}
