.process-controller-header {
  background-color: $almost-white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 1rem 0;

  .schematic {
    $single-width: 7.5rem;
    $coil-width: 4rem;
    $coil-margin: calc(($single-width - $coil-width) / 2);
    $bridge-width: calc(2 * $coil-width);
    $bridge-margin: calc(2 * $coil-margin);
    $bridge-icon-size: 2rem;
    // How much the terminal's label should extend past the coil's edges
    $terminal-overhang: 0.25rem;
    align-self: center;
    position: relative;

    .line {
      display: flex;
      flex-direction: row;
      border: 1px solid #0000;

      .group {
        width: calc(2 * $single-width);
        display: flex;
        flex-direction: row;

        .bridged-space {
          width: calc($bridge-margin - $terminal-overhang);
        }
  
        .single-outer-space {
          width: calc($coil-margin - $terminal-overhang);
        }
  
        .single-inner-space {
          width: calc($coil-margin - ($terminal-overhang + $bridge-icon-size / 2));
        }
      }

      &.coils {
        border-bottom: none;

        .coil {
          &.single {
            width: $coil-width;
            margin: 0 $coil-margin;
          }

          &.bridged {
            width: calc(2 * $coil-width);
            margin: 0 calc(2 * $coil-margin);
          }
          
          .svg-icon {
            display: block;
            height: calc($coil-width / 2);
          }
        }
      }

      &.selects {
        position: absolute;
        
        .select {
          flex: 1;
          height: 0.5rem;
          display: hidden;

          &.selected {
            display: block;
            background-color: $orange;
          }
        }
      }

      &.terminals {
        background-color: $pale-grey;
        border: 1px solid $light-grey;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 1rem 0;

        .flex-space {
          flex: 1;
        }

        .svg-icon {
          font-size: $bridge-icon-size;
          width: $bridge-icon-size;
        }
      }
    }
  }
}
