.process-controls {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .section {
    .spacer {
      flex: 1;
    }

    &.errors {
      .notice-banner {
        margin-bottom: 0.5rem;

        &:last-of-type {
          margin-bottom: 1rem;
        }
      }
    }

    &.top {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text-span {
        margin: 0 0.5rem;
      }
    }

    &.general {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row dense;
      gap: 1rem;

      .general-input {
        .line {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 0.5rem;

          > .simple-select,
          > .source-select,
          > .input-with-units,
          > .input {
            /* stylelint-disable-next-line value-no-vendor-prefix */
            width: -webkit-fill-available;
            max-width: 20rem;
          }

          .protocol-manual-trigger {
            margin-left: 1rem;
          }
        }
      }

      .protocol-manual {
        grid-column: 1 / 3;
        border: 2px solid  $almost-white;
        background-color: $zaber-white;
        border-radius: 0.5rem;
      }
    }

    &.settings {
      .text-span.h4 {
        display: block;
        margin: 1rem 0;
      }

      .setting:nth-child(odd) > .row {
        background-color: $almost-white;
      }

      .row {
        gap: 1rem;
        padding: 0.5rem 1rem;

        .toggle-group {
          margin-right: 4rem;

          .text-span {
            margin: auto 0.5rem;
          }
        }

        .refresh-setting {
          font-size: 2.25rem;
        }

        .protocol-manual-trigger {
          margin-left: 0.5rem;
          font-size: 2.25rem;
        }
      }

      .protocol-manual {
        border: 1px solid $almost-white;
        margin-bottom: 1rem;
      }
    }
  }
}
