.device-table {
  .spacer {
    color: transparent;
    flex: 1;
  }

  .axis-header {
    .address {
      margin-left: 5.5rem;
    }
  }

  .controller-header {
    .address {
      margin-left: 1rem;
    }
  }

  .axis-header,
  .controller-header {
    display: flex;

    >div,
    img {
      margin: 0 0.5rem;
    }

    .device-description {
      margin: 1rem;
    }
  }

  .device-picture {
    $device-image-width: 7rem;
    width: $device-image-width;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img,
    object {
      max-width: $device-image-width;
      max-height: 4rem;

      >img {
        height: 4rem;
      }
    }
  }

  .device-name,
  .axis-name,
  .address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;

    >div,
    span {
      height: 1.25em;
      white-space: nowrap;
    }

    .names {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  >.no-devices {
    display: block;
    margin: 1rem;
  }


  >.error-message {
    align-items: center;

    >.svg-icon {
      margin-left: 0.75rem;
    }
  }

  .controller {
    .device-setup {
      margin-right: 0.5rem;
    }
  }
}
