.share-config {
  margin: 1rem 2rem;

  .config-section {
    display: flex;
    margin-bottom: 1rem;

    label,
    .label {
      min-width: 10rem;
      margin-right: 0;
    }

    > .svg-icon {
      margin-top: 0.25rem;
      margin-right: 1rem;
    }

    .toggle-button {
      font-size: 1.25rem;
    }

    .launcher-name,
    .status,
    .discoverable,
    .hostname,
    .port {
      display: flex;
      align-items: center;
    }

    .hostname {
      .help-tooltip {
        margin-left: 0.5rem;
      }
    }
  }

  .connection-table {
    margin-top: 1rem;
    margin-bottom: 2rem;

    .notice-banner {
      margin-bottom: 0;
    }
  }

  .notice-banner {
    margin-bottom: 2rem;
  }
}
