.axis-dialog {
  .card {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 1rem;
    align-items: center;
    padding: 1rem;

    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
      grid-column: 1/3;
    }

    .row-spacer {
      height: 1rem;
    }

    .simple-select {
      margin-left: 3rem;
      align-items: baseline;
      min-width: 10rem;
    }

    .notice {
      display: flex;
      align-items: center;

      .info-icon {
        color: $blue;
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  .button-row {
    flex-grow: 1;

    .spacer {
      flex-grow: 1;
    }
  }
}
