.buffer-load-dialog {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  .simple-select {
    width: max-content;
    min-width: 10rem;
  }

  hr {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .axis-selections {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    row-gap: 0.5rem;
    align-items: center;
  }

  .notice {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    .info-icon {
      color: $blue;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
