.display-settings-dialog {
  .header {
    font-weight: bold;
  }

  .pop-up-content {
    width: 8rem;
  }

  .display-settings {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    margin: 1rem;
    align-items: center;
    column-gap: 0.5rem;

    .help-tooltip {
      width: min-content;
    }
  }

  .other-settings {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $pale-grey;
    margin: 1rem;
    padding-top: 1rem;
    gap: 0.5rem;
  }
}
