.export-trajectory-dialog {
  min-height: auto;

  .modal-content {
    display: grid;
    grid-template-columns: repeat(auto, 4);
    column-gap: 0.5rem;
    align-items: center;

    .file-size {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      grid-column: 2/5;

      .svg-icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
