.message-dialog {
  min-height: 15%;

  .messages {
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5rem;
    align-items: center;

    .svg-icon {
      font-size: 1.5rem;
    }
  }
}
