.properties {
  overflow-y: auto;
  box-shadow: 1px 0 10px #00000029;
}

.point-properties {
  display: flex;
  flex-direction: column;

  .properties-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .series-cards {
    overflow-y: auto;
  }

  .card {
    .contents {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      .quantity {
        .unit {
          margin-left: 1rem;
          margin-bottom: 0.875rem;
        }

        textarea {
          border-color: $pale-grey;
          color: $light-grey;
        }

        label {
          font-size: 0.75rem;
          color: $light-grey;
        }
      }

      button {
        display: flex;
        align-items: center;
        align-self: center;
        padding: 0 2rem 0 1.5rem;
      }
    }
  }
}
