.pvt-app {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  justify-items: stretch;

  .pop-up-content {
    min-width: 10rem;
  }

  .toolbar {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    grid-column: 1/3;
    background-color: $white;
    box-shadow: 1px 0 10px #00000029;
    padding: 0.5rem 1rem;
    z-index: 1;

    .selected-device {
      display: flex;
      flex-direction: column;
      margin-top: 0.2rem;
      text-decoration: none;

      .label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .svg-icon {
          margin-bottom: 0;
          font-size: 1.75rem;
        }
      }

      .underline {
        height: 2px;
        border-top: solid 0.1rem;
        position: relative;
        top: -0.45rem;
      }
    }

    .selected-device,
    .select-device-button {
      margin-right: 0.5rem;
    }

    .minor-menu {
      border-bottom: 0;
    }

    .svg-icon {
      &.flipped {
        scale: -1 1;
      }
    }

    .divider {
      width: 2px;
      height: 2rem;
      border-left: 1px solid $zaber-grey;
    }

    .spacer {
      flex: 1;
    }

    .margined {
      margin-left: 0.5rem;
      margin-right: 1rem;
    }

    .auto-reload-checkbox {
      .svg-icon {
        font-size: calc($icon-size-std * 0.5);
      }
    }

    .minor-menu {
      gap: 0.25rem;
      
      .minor-menu-item {
        > .content {
          padding: 0;
        }
      }

      &.horizontal {
        .active .minor-menu-item::before {
          height: 5px;
          bottom: 0;
        }
      }
    }

    .icon-small {
      font-size: 1.5rem;
    }
  }

  @import './PointPropertyPanel.scss';

  .workspace {
    background-color: $almost-white;
    margin: 1rem;
    overflow: auto;

    @import './WelcomeScreen.scss';
    @import './TimeSeries.scss';
    @import './Table.scss';
    @import './CurveView/CurveView.scss';
  }
}

@import './AxisMappingDialog.scss';
@import './BufferLoadDialog.scss';
@import './CsvImportDialog.scss';
@import './DeviceSelectionDialog.scss';
@import './ExportTrajectoryDialog.scss';
@import './MessageDialog.scss';
@import './Filename.scss';

.clickable-text {
  cursor: pointer;
}
