.table-view {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: 1px solid $pale-grey;
  width: auto;

  table {
    margin: 1rem;
    overflow-y: scroll;

    thead {
      background-color: $almost-white;
      font-weight: bold;
    }

    tr {
      &:nth-child(even) {
        background-color: $almost-white;
      }

      &.selected {
        background-color: #e0e0f0;
      }

      td.hidden {
        padding: 0;
      }
    }

    td,
    th {
      border: 1px solid $pale-grey;
      padding: 0.5rem;
      align-items: center;
      justify-items: center;
    }

    th:empty {
      background-color: $white;
    }

    td:first-child {
      display: flex;
      justify-content: left;
    }

    .hidden {
      border: 0;
      background-color: $white;
      width: 5rem;

      :first-child {
        margin-left: 0.5rem;
      }

      .svg-icon {
        vertical-align: middle;
      }
    }
  }

  .footnote {
    margin: 1rem;
    margin-top: 0.5rem;
  }

  .file-name {
    margin: 1rem 1rem 0;
  }
}
