.time-series-view {
  background-color: $white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: 1px solid $pale-grey;

  .menu-bar {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 1rem 1rem 0;

    .file-name {
      grid-column: 1;
      justify-self: start;
    }

    .icon-menu {
      grid-column: 3;
      justify-self: right;
    }
  }

  .visibility {
    display: flex;
    justify-content: center;
    justify-items: stretch;
    gap: 2rem;
    grid-column: 2;
    align-items: center;

    .series-visibility {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .swatch {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }

  .chart-area {
    flex: 1;
    margin-right: 1rem;

    @import './TimelineControlPointTooltip.scss';
  }
}
