table {
  thead {
    background-color: $almost-white;
    font-weight: bold;
  }

  tr {
    :first-child {
      background-color: $almost-white;
    }
  }

  td,
  th {
    border: 1px solid $pale-grey;
    padding: 0.5rem;
    align-items: center;
    justify-items: center;
  }
}
