.welcome-screen {
  background-color: $white;
  padding: 1rem;

  .info-grid {
    display: grid;
    font-size: small;

    .info-icon {
      color: $blue;
      font-size: 1.5rem;
      margin-top: 0.875rem;
    }

    ul {
      list-style-type: circle;
      margin-left: 2rem;
    }

    table {
      margin: 1rem;
      margin-left: 2rem;
      overflow-y: scroll;
      font-size: small;
      justify-items: right;

      thead {
        background-color: $almost-white;
        font-weight: bold;
      }

      tr {
        &:nth-child(even) {
          background-color: $almost-white;
        }

        &.selected {
          background-color: $pale-yellow;
        }
      }

      td,
      th {
        border: 1px solid $pale-grey;
        padding: 0.5rem;
        align-items: center;
      }
    }
  }
}
