.factory-reset-modal {
  .resetting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .unordered-list {
    margin-top: 1rem;

    &.extra-padding {
      .unordered-list-item {
        padding-left: 2.25rem;
      }
    }
  }

  .input-checkbox {
    margin: 0.5rem;
  }
}
