.hw-mod.app-ui {
  .boxed-field {
    width: 100%;
    margin: 0.75rem 0;

    .tick {
      color: $green;
    }

    > .top-line {
      width: 100%;
      padding: 0.5rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $almost-white;
      box-sizing: border-box;

      .title {
        display: flex;
        flex-direction: column;
        flex: 1 0 14rem;
        padding-right: 2rem;
        gap: 0.25rem;

        > div:first-child {
          display: flex;
          align-items: center;
          gap: 0.125rem 0.5rem;
          flex-wrap: wrap;
        }
      }

      .undo-container {
        flex: 0 0 2rem;
        margin-right: 1rem;
      }

      .input {
        flex: 0 0 9rem;
      }

      .revert {
        margin-right: 0 0.5rem;
      }

      .input-slider {
        flex: 0 1 25rem;
        margin: 1.5rem 0.5rem 1rem;
      }

      > .toggle {
        flex: 0 0 2rem;
        padding-left: 1rem;
        min-height: 1rem;
      }

      .toggle-button {
        font-size: 1.5rem;
        margin-right: 3rem;
      }
    }

    .protocol-manual {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid $almost-white;
    }

    .notice-message {
      padding: 0.5rem 1rem;
      background-color: $white;
    }
  }

  .configuration-settings .sections .section {
    .message-box {
      $message-box-padding: 0.5rem;
      padding: $message-box-padding;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(100% + (2*#{$message-box-padding}));
      left: -$message-box-padding;
      border: 1px solid $pale-grey;
      box-sizing: border-box;

      .message {
        padding-left: 1rem;
      }
    }
  }
}
