.lockstep-configuration {
  display: flex;
  flex-direction: column;

  .button-open-modal {
    width: fit-content;
    align-self: flex-end;
  }

  .card {
    .header {
      .svg-icon {
        color: $zaber-grey;
      }
    }
  }

  .modal {
    &.step-choose {
      .axis-row {
        grid-template-columns: max-content 8rem auto max-content max-content;
      }

      .axis-number {
        justify-self: center;
      }

      .pop-up {
        position: relative;
        top: 0.5rem;
      }

      .info-text {
        line-height: 0;
        margin-top: 2rem;

      }
    }

    &.step-confirm {
      .axis-row {
        grid-template-columns: max-content 8rem auto auto;
      }

      .axis-number {
        justify-self: auto;
      }

      .info-text {
        line-height: 1.5rem;
        margin-top: 0;
      }
    }


    &.step-complete {
      .modal-header {
        .default-content {
          .svg-icon {
            color: $green;
          }
        }
      }

      .svg-icon {
        color: #aaa;
      }
    }
  }


  .modal-content {
    .scrollable {
      overflow-y: auto;
    }

    .notice-border.info .notice-border-outline {
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
    }

    .info-text {
      margin-bottom: 2rem;
    }

    .button-row {
      margin-top: auto;
    }

    .note-icon {
      font-size: 1.3rem;
      margin-right: 0.5rem;
      color: $blue;
    }

    .axis-display {
      display: flex;
      flex-direction: column;

      .axis-row {
        display: grid;
        border-bottom: 1px solid #ddd;
        padding: 0 1rem;

        &.disabled {
          .checkbox-bold,
          .name-serial,
          .thumbnail {
            opacity: 30%;
          }
        }

        &.lockstepped {
          .axis-number {
            margin-left: 1.5rem;
          }
        }

        > * {
          padding: 0.5rem;
        }

        object {
          width: 5rem;
        }

        .disabled-notice {
          align-self: start;
          display: flex;
          align-items: center;
          width: 10rem;
        }

        .primary-secondary-specific {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 1.5rem;

          &.primary {
            color: $green;
          }

          &.secondary {
            gap: 0.5rem;
          }
        }

        .notice {
          grid-column-end: span 5;
          padding-top: 0;
        }
      }
    }

    .home-info {
      margin-top: 1rem;

      .card {
        display: flex;
        padding: 0.5rem 0.5rem 0.5rem 1rem;

        .text-span {
          padding: 0.3rem 0;
        }
      }
    }

    .button {
      margin: 1rem 0;
    }
  }

  .button-open-modal {
    margin: 1rem;
  }

  .no-lockstep-group {
    margin: 0 auto;
    width: fit-content;

    .no-lockstep-svg {
      margin-top: 7rem;
      margin-bottom: 2rem;
      width: 17.25rem;
    }

    div {
      margin-bottom: 1.5rem;
    }
  }

  .notice-banner {
    margin: 1rem;
  }

  .lockstep-group-card {
    margin: 1rem 1rem 0;

    >.contents {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;

      > div,
      > span {
        margin: 1rem 1rem 0;
      }

      .axis-card {
        img {
          width: 8.5rem;
        }

        .header {
          background-color: #fff;
          border-bottom: 1px solid #ddd;
          min-height: 3.25rem;
          display: inline-flex;
          align-items: center;
        }

        .contents {
          display: grid;
          grid-template-columns: [img] 13rem [bold-txt] 8rem [tooltip] 4rem [value] min-content;
          grid-template-rows: 1fr 1fr;
          align-items: center;
          padding: 1rem 0.5rem;

          input {
            min-width: 10rem;
          }

          .picture {
            grid-row-start: 1;
            grid-row-end: 3;
            height: 6rem;
          }

          .input {
            margin-right: 0.5rem;
            margin-left: 1rem;
          }

          .editable-field {
            padding-left: 0.5rem;
          }

          .left-padded {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  .pop-up-content {
    text-align: left;
    min-width: 19rem;
    line-height: normal;
  }
}

.help-tooltip-width-limiter {
  max-width: 15rem;
}
