.lc40-setup {
  padding: 1rem;

  .header {
    padding: 0.75rem;
    background-color: $pale-grey;
  }

  .contents {
    padding: 1.5rem;

    .top-notice-banner {
      margin-bottom: 1rem;
    }

    .notice-border {
      margin-bottom: 1rem;
    }

    .section {
      .header {
        background-color: inherit;
        border-bottom: 1px solid $pale-grey;
        padding: 1rem;
        height: 3.5rem;

        .travel-length-header {
          gap: 1rem;
        }
      }

      .estop {
        width: fit-content;

        .connected,
        .disconnected,
        .checking {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          min-width: 17rem;

          .button {
            margin-left: 1rem;
          }
        }

        .connected {
          color: $green;
        }

        .disconnected {
          color: $error-fault;
        }
      }

      .image-select-options {
        gap: 2rem;

        .image-select-button {
          width: 8.4rem;
          height: 9rem;
          border-radius: $general-radius;
          border: 0;
          background: $white;
          cursor: pointer;
          outline: none;

          box-shadow: 0 0 0.75rem #00000029;

          img {
            height: calc(100% - 2rem);
          }

          .label {
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $zaber-grey;
            margin-top: 0.5rem;

            .svg-icon {
              font-size: 1.1rem;
              margin-right: 0.5rem;
            }
          }

          &.disabled {
            cursor: default;
          }

          &.selected {
            box-shadow: 0 0 1.5rem #00000029;

            .label {
              color: $green;
            }
          }

          &:hover:not(.disabled) {
            box-shadow: 0 0 1.25rem #00000029;
          }
        }
      }

      .travel-length-input {
        width: 15rem;
        gap: 1rem;
      }
    }


    .lc40-error-message {
      border-top: 1px solid $pale-grey;
      background: $white;
      padding: 0.5rem 1rem;
    }

    .save-buttons {
      margin-top: 2rem;

      .modal {
        .button {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.lc40-setup-root {
  .attention {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-size-std;
  }
}

.length-sticker-image {
  width: 100%;
  margin-bottom: 0.5rem;
}
