<article class="topic reference nested2"></span>
  <h3 class="title topictitle3" id="ariaid-title287"><span class="keyword asciisetting">limit.home.preset</span></h3>
  
  <div class="body refbody"><p class="shortdesc">
    Select the option describing how an encoder on the differential connector is used in your peripheral.
    Both digital and analog encoders are supported on this connector. Device firmware will consider this encoder 2.
    Differential encoders evaluate their signal voltage by comparing two signals to one another.
  </p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Direct Encoder</span></dt>
          <dd class="dd">Measures the position of the stage itself, after any mechanical gearing or other translations.</dd>

          <dt class="dt dlterm"><span class="keyword">Analog Direct Encoder</span></dt>
          <dd class="dd"><span class="keyword">A direct encoder which uses signals that can vary between high and low values, rather than being restricted to only being high or low.</span></dd>
      </dl>
    </section>
    <section class="section">
      <p class="p">
        Note that differential motor encoders are not supported, unless they are also direct encoders
        (in which case the stage position and the motor position are always equivalent).
      </p>
    </section>
  </div>
</article>