<article class="topic reference nested2"></span>
  <h3 class="title topictitle3" id="ariaid-title287"><span class="keyword asciisetting">limit.home.preset</span></h3>
  
  <div class="body refbody"><p class="shortdesc">
    Select the option describing how an encoder on the single-ended connector is used in your peripheral.
    Only digital encoders are supported on this connector. Device firmware will consider this encoder 1.
    Single-ended encoders evaluate their signal voltage by using electrical ground as a reference.
  </p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Direct Encoder</span></dt>
          <dd class="dd">Measures the position of the stage itself, after any mechanical gearing or other translations</dd>

          <dt class="dt dlterm"><span class="keyword">Motor Encoder</span></dt>
          <dd class="dd"><span class="keyword">Measures the position of the motor's shaft</span></dd>

          <dt class="dt dlterm"><span class="keyword">Absolute Phase Motor Encoder</span></dt>
          <dd class="dd"><span class="keyword">Uses the electrical phase of the motor to determine its absolute position along the motor's travel.</span></dd>
      </dl>
    </section>
    <section class="section">
      <p class="p">Currently, only direct and motor encoders are supported.</p>
    </section>
  </div>
</article>