<article class="topic reference nested2"></span>
  <h3 class="title topictitle3" id="ariaid-title287"><span class="keyword asciisetting">limit.home.preset</span></h3>
  
  <div class="body refbody"><p class="shortdesc">Select the option which best describes how your peripheral moves.</p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Linear</span></dt>
          <dd class="dd">The peripheral travels in a straight line without returning to their starting position</dd>

          <dt class="dt dlterm"><span class="keyword">Rotary</span></dt>
          <dd class="dd"><span class="keyword">The peripheral travels in an arc, and may return to their starting position.</span></dd>
      </dl>
    </section>
    <section class="section">
      <p class="p">If neither option precisely describes your peripheral, choose the closest option.</p>
    </section>
  </div>
</article>