<article class="topic reference nested2"></span>
  <h3 class="title topictitle3" id="ariaid-title287"><span class="keyword asciisetting">limit.home.preset</span></h3>
  
  <div class="body refbody"><p class="shortdesc">elect the option which describes how your peripheral is driven.</p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Stepper Motors</span></dt>
          <dd class="dd">Send varying current to multiple coils to rotate the motor through multiple "steps" per rotation.</dd>

          <dt class="dt dlterm"><span class="keyword">Voice Coil Motors</span></dt>
          <dd class="dd"><span class="keyword">Apply current across a coil to produce linear force.</span></dd>

          <dt class="dt dlterm"><span class="keyword">Linear Motors</span></dt>
          <dd class="dd"><span class="keyword">Directly produce linear travel via a configuration of forcer and magnets that move with respect to one another.</span></dd>
      </dl>
    </section>
    <section class="section">
      <p class="p">If you are not sure what type of motor powers your peripheral, consult its manufacturer. Currently, only stepper motors are supported.</p>
    </section>
  </div>
</article>