<article class="topic reference nested2" aria-labelledby="ariaid-title399"><span id="analog_in"></span>
  <h3 class="title topictitle3" id="ariaid-title399"><span class="keyword asciisetting">Analog Input</span></h3>
  
  <div class="body refbody"><p class="shortdesc">The value of an analog input</p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Scope</span></dt>
          <dd class="dd"><span class="keyword">Device</span></dd>
        
          <dt class="dt dlterm"><span class="keyword">Write Access Level</span></dt>
          <dd class="dd"><span class="keyword">Read-only</span></dd>
        
          <dt class="dt dlterm"><span class="keyword">Persistence</span></dt>
          <dd class="dd"><span class="keyword">Volatile</span></dd>
        
      </dl>
    </section>
    <section class="section">
      <p class="p">
        This voltage measured on an analog input port. This can be used as the input to a process in a controlled mode.
      </p>
    </section>
  </div>
</article>