.connections-view {
  $svg-margin: 0.5rem;
  background-color: $white;
  overflow: auto;
  position: relative;
  max-width: 24rem;
  flex-shrink: 0;

  .svg-icon:not(.notice-icon) {
    vertical-align: middle;
  }

  .connection {
    background-color: $almost-white;
    border-bottom: 1px solid $pale-grey;
    border-left: 0.5rem solid transparent;

    &.collapsed {
      background-color: $zaber-white;

      .devices {
        display: none;
      }
    }

    &.selected {
      border-left-color: $orange;
    }

    .devices {
      &.selectable {
        cursor: pointer;
      }

      > .no-devices {
        margin-bottom: 0.5rem;
      }
    }
  }

  .router {
    &.collapsed {
      .connections {
        display: none;
      }
    }
  }

  .all {
    background-color: $pale-grey;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 3.25rem;
  }

  .connection-name,
  .router-name,
  .device-name,
  .axis-name {
    display: flex;
    align-items: center;

    > .text-span {
      margin-right: 1rem;
      word-break: break-all;
    }

    > .svg-icon,
    > div {
      margin-right: $svg-margin;
    }

    > *:last-child {
      margin-right: 0;
    }

    > .spacer {
      flex: 1;
      margin: 0;
    }
  }

  .router-name {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .router-info {
    border-bottom: 1px solid $pale-grey;
  }

  .connection-name {
    padding: 0.5rem 1rem;
    padding-left: 1.5rem;

    display: flex;
    align-items: center;

    cursor: pointer;

    .refresh-spacer {
      width: $icon-size-std;
      flex: 1;
    }
  }

  .device-container {
    display: flex;
    flex-direction: row;
  }

  .axis-container,
  .device-container {
    &.selectable {
      cursor: pointer;
    }
  }

  .device {
    &.selected {
      .device-name {
        border-left-color: $orange;
        background: $pale-grey;
      }
    }
  }

  .device-name {
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-left: 0.5rem solid transparent;
    flex: 1;
    height: 3.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .axis-container {
    display: flex;
    flex-direction: row;

    .axis-name {
      padding-left: 0.5rem;
      padding-right: 1rem;
      border-left: 0.5rem solid transparent;
      flex: 1;
      height: 3.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      &.selected {
        border-left-color: $orange;
        background: $pale-grey;
      }
    }
  }

  .tree-spacer {
    &.device-level {
      width: 1.5rem;
    }

    &.axis-level {
      width: 4.5rem;
    }

    &.device-axis-level-separation {
      width: 0.5em;
    }
  }

  .tree-line {
    width: $icon-size-std;

    path {
      stroke: $light-grey;
      stroke-width: 4;
      fill: transparent;
    }
  }

  .notice-message {
    max-width: fit-content;
    padding: 0.5rem;
  }

  .attention.multi {
    display: flex;
    width: $icon-size-std;
    justify-content: center;

    > span {
      border: 1px solid;
      border-radius: 2rem;
      display: inline-block;
      color: $zaber-white;
      background-color: $just-red;
      border-color: $just-red;
      text-decoration: none;
      padding: 0.125rem 0.5rem;
    }
  }

  .no-connections-to-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 2.75rem;

    .no-connections-img {
      width: 8rem;
    }

    .message {
      margin: 0.5rem 0;

      .text-span {
        margin: 0.5rem 0;
        display: inline-block;
      }
    }
  }
}

.connection-view-and-app {
  display: flex;
  align-items: stretch;
  height: 100%;

  .connections-view {
    box-shadow: 1px 0 0.625rem rgba(0, 0, 0, 0.12);
  }

  .app-ui {
    flex: 1;
    overflow: auto;
  }
}
