.firmware-upgrade {
  padding: 1rem;

  .spacer {
    flex: 1;
  }

  .no-content {
    padding-top: 3rem;
  }

  .text-span .svg-icon {
    font-size: inherit;
  }

  .section-header {
    display: flex;
    align-items: center;
    height: 1.5rem;
    overflow: visible;

    > .spacer {
      flex: 1;
    }
  }

  >  hr {
    height: 1rem;
    border: none;
    margin: 0;
  }

  > .card,
  > .notice-banner {
    margin: 1rem 0;
  }

  .subsection-header {
    min-height: 2.25rem; // To match height created by icons.
    display: inline-flex;
    align-items: center;
  }

  .firmware-version {
    display: flex;
    align-items: center;
    padding: 1rem;

    border-bottom: 1px solid $almost-white;

    &:last-child {
      border: none;
    }

    .button,
    .context-menu {
      margin: 0 0.5rem;
    }
  }

  .device-table {
    .device-firmware-info {
      border-left: 1px solid $light-grey;
      padding-left: 1rem;
      margin: 1rem 0 1rem 1rem;
    }

    .context-menu {
      margin-left: 1rem;
    }

    .current-version {
      display: flex;
      align-items: center;
      min-height: $icon-size-std;
    }

    .new-version {
      font-size: $font-size-body-xsmall;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
      min-height: 1rem;

      &.up-to-date {
        color: $green;
      }

      &.available {
        color: $just-red;
      }

      .svg-icon {
        font-size: $font-size-body-xsmall;
        margin-right: 0.5rem;
      }
    }
  }
}

.firmware-upgrade-progress-modal {
  .info-grid {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    height: -webkit-fill-available;
  }

  .working {
    .loader {
      margin: 1rem auto;
    }

    .text-span {
      text-align: center;
    }
  }

  .unordered-list-bullet {
    font-size: 1rem;
  }

  .notice-message {
    .message {
      display: grid;
      grid-row-gap: 0.5rem;
    }

    .svg-icon {
      font-size: 1.5rem;
    }
  }

  .modal-content > .info {
    display: grid;
    grid-row-gap: 0.5rem;
  }
}
