.microscope-multidacq {
  > div {
    margin: 1rem;
  }

  > .card {
    > .contents {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 1.25rem;
    }
  }

  .dimension-order {
    width: fit-content;

    .order {
      display: grid;
      align-items: center;
      grid-template-columns: auto auto auto;
      border: 1px solid $light-grey;
      padding: 0.5rem;
      gap: 0.5rem 0;

      .svg-icon {
        transform: rotate(90deg);
      }

      span {
        margin: 0 2rem 0 0.5rem;
      }
    }
  }

  .preset-dimension {
    > .contents {
      flex-direction: row;

      > div:first-child {
        flex: 1;
      }
    }
  }

  .focus-dimension {
    .row {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .travel {
      height: 2.25rem;
      align-items: flex-start;
    }

    .reference {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .xy-dimension {
    .grid {
      display: grid;
      grid-template-columns: max-content auto auto auto;
      gap: 0.5rem 1rem;
      align-items: center;
    }

    .row {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .reference {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > .input-with-units {
        flex: 1;
      }
    }

    .visual-summary {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      grid-template-rows: max-content max-content max-content;
      gap: 0.25rem;

      .corner1 {
        grid-column: 1;
        grid-row: 1;
      }

      .corner2 {
        grid-column: 3;
        grid-row: 3;
      }

      .square {
        justify-self: center;
        position: relative;
        grid-column: 2;
        grid-row: 2;

        width: 6rem;
        height: 6rem;

        border: 1px solid $light-grey;
        background: $almost-white;

        .ref {
          position: absolute;

          .ref-dot {
            width: 0.5rem;
            height: 0.5rem;
            margin-left: -0.25rem;
            margin-top: -0.25rem;
            border-radius: 50%;
            background: $dark-grey;
          }

          .text-span {
            margin-left: 0.125rem;
          }
        }

        .size {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0 0.125rem;
        }
      }

      .width {
        margin: 0 0.5rem;
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
      }

      .height {
        grid-column: 3;
        grid-row: 2;
        align-self: center;
      }
    }
  }
}
