.current-tuner {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;

  >.notice-message {
    margin: 5rem 15% 0;

    .button-row {
      margin-top: 1rem;
    }
  }

  .tune-steps {
    flex: 1;
    overflow: auto;
  }
}

.tuner {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;

  .guideline-link {
    text-align: right;
  }

  .connection-with-device {
    margin: 1.25rem 0;

    .axis-header {
      .address {
        margin-left: 1rem;
      }
    }
  }

  .motor-params-card {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $light-grey;
    padding-left: 1rem;
    margin: 1rem 0 1rem 1rem;
  }

  .tuning-controls-header {
    margin-left: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .tuning-control {
    background-color: $almost-white;
    margin-top: 1rem;
    min-height: 4.25rem;
    display: grid;
    grid-template-columns: auto 25rem 4rem;

    .input-slider {
      margin-top: 1.875rem;
    }
  }

  .tuning-manual {
    padding: 2rem;
    background: $white;
    border: 1px solid $almost-white;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    sub {
      font-size: 70%;
      vertical-align: sub;
      font-style: italic;
    }

    img {
      height: 2.25rem;
      transform: translateY(0.9rem);
      margin-top: -1rem;
    }
  }

  .tuning-attribute,
  .tuning-value,
  .tooltip {
    display: flex;
    align-items: center;
  }

  .tuning-attribute {
    padding: 1rem 0 1rem 1rem;
  }

  .tuning-value {
    justify-content: center;
  }

  .tooltip {
    margin-left: 0.75rem;
    font-size: 2.25rem;
  }

  .banner {
    margin-top: 1rem;

    .instruction-message {
      margin-top: 0.25rem;
    }
  }

  .buttons-container {
    margin-top: 1rem;

    .spacer {
      flex: 1;
    }
  }

  .setting-table {
    $table-height: 34rem;
    margin-bottom: 1rem;
    border: 1px solid $pale-grey;

    thead {
      text-align: left;
    }

    th {
      padding: 1rem;
      background-color: $white;
    }

    td {
      padding: 1rem;
    }

    tr:nth-child(even) {
      background-color: $white;
    }

    tr:nth-child(odd) {
      background-color: $almost-white;
    }
  }

  .one-time-message {
    margin: 1rem 0;
  }

  .expandable-section {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .svg-icon {
      margin-left: 1rem;
    }
  }
}
