.apps {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;

  > .text-span {
    display: block;
    margin: 1rem 0;
  }

  .app-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .app-card {
    width: 100%;
    height: 12rem;
    display: flex;

    &.standalone {
      margin-bottom: 2rem;
    }

    .app-logo {
      width: 12rem;
      height: 12rem;
      background: $light-grey;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      img {
        width: 5em;
        height: 5em;
      }

      .internal-sticker {
        position: absolute;
        top: 0;
        width: 100%;
        height: 2rem;
        background-color: $pale-grey;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .app-info {
      flex: 1;
      padding: 1.25rem;

      display: flex;
      flex-direction: column;

      .description {
        .title {
          display: flex;
          margin-bottom: 0.25rem;
        }

        h4 {
          margin: 0.5rem 0 0;
        }

        .pin {
          margin-left: auto;
          color: transparent;

          &.pinned {
            color: $yellow;
          }
        }
      }

      .bottom {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
