.advanced-tuning {
  $input-width: 10rem;
  $input-margin: 0.5rem;
  $description-width: calc(100% - 2*($input-width + $input-margin));

  .table-width {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  .header {
    border-bottom: 1px solid $pale-grey;
    position: sticky;
    top: 4rem;
    background-color: $white;
    z-index: 1;

    .over-descriptions {
      width: $description-width;
      display: inline-block;
    }

    .column {
      width: $input-width;
      margin-left: $input-margin;
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .tuning-param {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $almost-white;
    display: block;

    .text-span {
      display: inline-block;
      width: $description-width;
    }

    .input {
      display: inline-block;
      width: $input-width;
      margin-left: $input-margin;
    }
  }

  .notice-banner,
  .button-row {
    margin-top: 1rem;
  }
}
