.load {
  .controls {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    .pad {
      flex: 1;
    }
  }

  .servo-tuning-param-table {
    margin-top: 1rem;
    width: 100%;
  }
}
