.pid {
  .tuning {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;

    .help-tooltip {
      padding-right: 0.5rem;
    }

    .input {
      width: 10rem;
    }
  }

  .notice-banner,
  .button-row {
    margin-top: 1rem;
  }
}
