$flavor: 'zaber' !default;

$orange: null !default;
$zaber-red: null !default;
$pink: null !default;
$dark-red: null !default;
$dark-red-translucent: null !default;
$just-red: null !default;

$font-family: null !default;

$button-radius: null !default;
$general-radius: null !default;

@if $flavor == 'rexroth' {
  $orange: #0cf;
  $zaber-red: #002b49;
  $pink: #7f95a4;
  $dark-red: #a3bac8;
  $dark-red-translucent: rgba($dark-red, 0.15);
  $just-red: #df0024;

  $font-family: 'Bosch Sans';

  $button-radius: 0;
  $general-radius: 0;

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bosch Sans';
    src: url('../assets/rexroth/BoschSans-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
}
