@import './variables.scss';
@import './flavor.scss';
@import '@zaber/react-library';
@import 'react-horizontal-scrolling-menu/dist/styles.css';
@import 'xterm';
@import './scaling.scss';

@import '../basic_movement/PositionDisplay.scss';
@import '../basic_controls/BasicControls.scss';
@import '../basic_movement/BasicMovement.scss';
@import '../device_settings/DeviceSettings.scss';
@import '../protocol_manual/ProtocolManual.scss';
@import '../errors/ErrorReport.scss';
@import '../connection_manager/connection_manager.scss';
@import '../connection_manager_ui';
@import '../hardware_modification/HardwareModification.scss';
@import '../hardware_modification/components/fields/FieldComponents.scss';
@import '../add_connection/AddConnection.scss';
@import '../feedback/feedback.scss';
@import '../firmware_upgrade/FirmwareUpgrade.scss';
@import '../current_tuner/CurrentTuner.scss';
@import '../menu/menu.scss';
@import '../apps/apps.scss';
@import '../units/InputWithUnits.scss';
@import '../units/EditableInputWithUnits.scss';
@import '../units/MeasurementInputEditor.scss';
@import '../terminal/Terminal.scss';
@import '../components/index.scss';
@import '../updates/updates.scss';
@import '../cloud/index.scss';
@import '../local_share/LocalShare.scss';
@import '../peripherals/index.scss';
@import '../process_controller/ProcessController.scss';
@import '../help/index.scss';
@import '../preferences/Preferences.scss';
@import '../servo_tuning/ServoTuning.scss';
@import '../save_load/SaveLoad.scss';
@import '../about/About.scss';
@import '../about/Contact.scss';
@import '../lc40_setup/LC40Setup.scss';
@import '../gcode/GCode.scss';
@import '../lockstep_configuration/LockstepConfiguration.scss';
@import '../demo';
@import '../device_io';
@import '../joystick';
@import '../factory_reset';
@import '../oscilloscope/Oscilloscope.scss';
@import '../internal';
@import '../pvt/PvtApp.scss';
@import '../calibration';
@import '../microscope';
@import '../triggers/Triggers.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: none;

  background-color: $zaber-white;
}

.main-flex {
  display: flex;

  .main-flex-content {
    flex: 1;
    overflow: auto;
  }
}

.zaber-toast-launcher {
  z-index: 4;
}

/* stylelint-disable selector-max-id */
html,
body,
#root,
.main-flex {
  height: 100%;
}
/* stylelint-enable selector-max-id */
