$breakpoint1-width: 1280px;
$breakpoint2-width: 1120px;

@media (min-width: $breakpoint1-width) {
  html {
    font-size: 16px;
  }
}

@media
  (min-width: $breakpoint2-width) and (max-width: $breakpoint1-width) {
  html {
    font-size: 14px;
  }
}

@media (max-width: $breakpoint2-width) {
  html {
    font-size: 12px;
  }
}
