.red-menu {
  $animation-duration: 0.2s;
  $menu-icon-size: 2.25rem;
  $menu-icon-margin: 0.875rem;
  $collapsed-width: 4rem;
  $extended-width: 17rem;
  flex-shrink: 0;

  .container {
    height: 100%;
    z-index: $z-index-menu;
    position: absolute;
    width: $extended-width;

    display: flex;
    flex-direction: column;

    color: $white;
    background-color: $zaber-red;

    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    transition: width $animation-duration;

    &:hover {
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
      overflow-y: auto;
    }

    &.custom-scroll::-webkit-scrollbar {
      width: 0.5rem;
      background: transparent;

      &-thumb {
        background: $dark-red;
        border-radius: 0.25rem;

        &:hover {
          background: #821416; // one-off color
        }
      }

      &-button {
        display: none;
      }

      &-track {
        display: none;
      }

      &-track-piece {
        display: none;
      }
    }
  }

  &.collapsed {
    .container {
      width: $collapsed-width;
    }
  }

  .width-placeholder {
    width: $collapsed-width;

    &.animate {
      transition: width $animation-duration;
    }
  }

  &.fixed {
    .width-placeholder {
      width: $extended-width;
    }
  }

  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $dark-red-translucent;
    margin-bottom: 0.5rem;

    .zaber-launcher-logo {
      height: 4rem;
      width: 4rem;
    }

    .text-span {
      margin: 0 0.5rem;
    }

    .pin {
      margin: 0.5rem;
      color: $pink;
    }
  }

  &.rexroth {
    .header {
      background-color: $white;
      border-bottom: none;

      .rexroth-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4rem;
        height: 4rem;
        background-color: #e5eaed;

        img {
          width: 2rem;
        }
      }

      .rexroth-logo {
        width: 5.25rem;
        margin-left: 2rem;
      }
    }
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;

    &.active {
      color: $orange;
      font-weight: bold;

      &::before {
        height: 100%;
        background-color: $orange;
        width: 0.5rem;
        position: absolute;
        content: '';
      }

      .item {
        background-color: $dark-red-translucent;
      }
    }
  }


  .section {
    padding: 0 2rem 0 4rem;
    min-height: 2.25rem;

    display: flex;
    align-items: center;

    color: $pink;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $font-size-body-small;
  }

  .item {
    padding: 0 2rem 0 $menu-icon-margin;
    min-height: 2.25rem;

    display: flex;
    align-items: center;

    &:hover {
      background-color: $dark-red-translucent;
    }

    .svg-icon {
      font-size: $menu-icon-size;
      margin-right: $menu-icon-margin;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .button.feedback-button {
    color: $pink;
    border-color: $pink;
    background-color: $zaber-red;
    margin: 1.25rem;

    justify-content: center;

    &:not(.disabled):hover {
      color: $white;
      border-color: $white;
      background-color: initial;
    }

    .svg-icon {
      font-size: $menu-icon-size;
    }
  }

  .svg-icon.feedback-icon {
    font-size: $menu-icon-size;
    margin: $menu-icon-margin;
    margin-bottom: calc(1.25rem + 1px);
    color: $pink;
  }
}
