.auto-tune {
  max-height: 95vh;

  .modal-body {
    max-height: 90vh;
  }

  .steps {
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .button-row {
    margin-top: auto;
  }

  .flex-component.row {
    margin: 0.5rem;
    gap: 0;

    .editable-input-with-unit {
      width: 50%;
    }
  }

  .notice-banner {
    margin-bottom: 1rem;

    .unordered-list {
      margin-bottom: 1rem;
    }
  }

  .controls-columns {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    grid-auto-flow: dense;
    margin: 1rem;

    .left {
      grid-column: 1;
    }

    .right {
      grid-column: 2;
    }

    .button {
      width: fit-content;
      align-self: end;
    }

    .identify-progress {
      padding: 1.5rem 0;

      .complete {
        color: $green;
      }
    }

    .setpoint-tf {
      grid-row: auto / span 2;

      .link {
        font-size: 0.75rem;
      }
    }
  }

  .progress-bar {
    width: 95%;
    margin: 1rem auto;

    &.hide {
      visibility: hidden;
    }
  }

  .echarts-for-react {
    min-height: 20rem;
  }
}
