.command-suggestions {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: $general-radius;
  box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%);
  background-color: $white;
  display: flex;
  flex-direction: column-reverse;
  max-height: 11.25rem;
  overflow-y: auto;
  overflow-x: hidden;

  &:hover {
    cursor: pointer;
  }

  .suggestion-option {
    height: 2.25rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &.selected {
      background-color: $zaber-white;
    }

    .suggestion-link {
      padding: 0.5rem;

      .svg-icon {
        font-size: $icon-size-small;
      }
    }

    .suggestion-text {
      display: flex;
      align-items: center;
      height: 100%;

      >span {
        margin: 0.25rem;
        vertical-align: middle;

        &.param {
          font-style: italic;
        }
      }
    }

    .unit-conversion-note {
      margin: 0 0.5rem;
      text-wrap: nowrap;
    }
  }
}
