.terminal {
  display: flex;
  flex-direction: column;
  margin: 0;

  .settings {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: $white;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.16);

    .terminal-filter {
      flex-grow: 1;
      margin-right: 1rem;
    }

    >.right-side {
      display: flex;
      align-items: center;
      gap: 1rem;

    }
  }

  .controls {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    .command-text {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-right: 0.5rem;
      position: relative;
      align-items: flex-end;

      .command-prefix {
        display: flex;
        align-items: center;
        height: calc(2.25rem - 2px);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: $pale-grey;
        border-radius: $general-radius;
        border: 1px solid $light-grey;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .command-input-column {
        flex-grow: 1;
        align-items: flex-start;

        @import './CommandSuggestions.scss';

        .command-input-row {
          width: 100%;

          &.selected .input-line {
            border: $zaber-grey solid 1px;
          }

          .command-input {
            width: 100%;
            flex: 1;

            &.has-units .input-line {
              border-right: none;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              padding-right: 0.25rem;
            }

            .input-line {
              border-left: none;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border: 1px solid $light-grey;
              padding-left: 0.25rem;
            }

            input {
              padding-left: 1px;
            }
          }

          .unit-conversion-note {
            height: 2.1rem;
            display: flex;
            align-items: center;
            padding-right: 0.5rem;

            background-color: $white;
            border-radius: $general-radius;
            border: 1px solid $light-grey;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }

    >svg {
      font-size: 2.5rem;
      margin: 0;
    }
  }

  .connection-state {
    padding-bottom: 1rem;
    margin: 0 auto;
  }

  .history {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $pale-grey;

    .history-item {
      display: flex;
      margin: 0.5rem 1rem;
      border: 1px solid $pale-grey;
      border-radius: $general-radius;
      padding: 0.5rem 1rem;

      &:first-child {
        margin-top: 1rem;
      }

      &.request {
        align-self: flex-end;
        border-bottom-right-radius: 0;
        background-color: $almost-white;
      }

      &.response {
        align-self: flex-start;
        border-top-left-radius: 0;
        background-color: $zaber-white;

        &.error {
          color: $error-fault;
        }
      }

      .checksum {
        color: $pale-grey;

        &.err {
          color: $error-fault;
        }
      }

      .part {
        &.fault {
          color: $error-fault;
          text-decoration: underline;
          cursor: pointer;
        }

        &.warn {
          color: $error-warning;
          text-decoration: underline;
          cursor: pointer;
        }

        &.note {
          color: $error-note;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &.hide-checksums {
      .checksum:not(.err) {
        display: none;
      }
    }

    .notice-banner {
      margin: 0 1.5rem 0.5rem;
    }
  }

  .one-time-message {
    margin: 1rem 1.5rem 2rem;

    .pro-tip {
      margin-top: 0.75rem;
    }
  }

  .command-batch-modal {
    max-height: 90%;

    .modal-content {
      >div {
        margin-bottom: 1rem;
      }

      textarea {
        min-height: 16rem;
        resize: vertical;
        font-family: $font-family + ' Mono';
      }
    }

    .command-list {
      $between-lines: 0.125rem;

      display: grid;
      grid-template-columns: max-content auto;
      overflow-y: auto;
      padding: 0.5rem 0;
      border-radius: 0.5rem;
      border-color: $light-grey;

      .cmd {
        grid-column: 1;
        padding: $between-lines 2rem $between-lines 1rem;
      }

      .replies {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;

        .reply {
          padding: $between-lines 0;

          &.error {
            color: $error-fault;
          }
        }
      }

      .odd {
        background-color: $almost-white;
      }
    }

    .button-row {
      width: 100%;

      .spacer {
        flex-grow: 1;
      }
    }
  }
}

.unit-conversion-note {
  color: $light-grey;
  font-style: italic;
}
