.moveable-section {
  padding: 1rem;
  display: grid;
  align-items: center;

  .thumbnails {
    $primary-size: 6rem;
    grid-area: image;
    height: $primary-size;
    margin-right: 1rem;

    &.lockstep {
      position: relative;

      // for the overlapping primary axis
      margin-bottom: 0.5rem;
      margin-right: 1.5rem;
    }

    .thumbnail {
      height: $primary-size;
    }

    .thumbnail-box {
      height: $primary-size;

      &.lockstep,
      &.secondary {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        outline: 1px solid $almost-white;
      }

      &.lockstep {
        position: absolute;
        z-index: 1;
        margin-top: 0.5rem;
      }

      &.secondary {
        margin-left: 0.5rem;
      }
    }

    .lockstep-size {
      font-size: 1rem;
      color: $grey;
      z-index: 2;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }

  .svg-icon {
    align-self: start;
  }

  .home {
    grid-area: home;

  }

  .stop {
    grid-area: stop;
  }

  .jog-home {
    grid-area: jog-l;
  }

  .move-index-prev {
    grid-area: jog-l;
  }

  .jog-away {
    grid-area: jog-r;
  }

  .move-index-next {
    grid-area: jog-r;
  }

  .run-home {
    grid-area: run-l;
  }

  .run-away {
    grid-area: run-r;
  }

  .position {
    grid-area: pos;
    justify-self: end;
    align-self: start;
    margin: 0.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 0 0.5rem;

    .info-line {
      display: flex;
      height: 2rem;

      .info-text {
        align-self: center;
      }
    }
  }

  .additional-controls {
    grid-area: misc;
    display: flex;
    gap: 1rem;
    align-items: center;

    > * {
      margin-top: 1rem;
    }
  }
}

.move-sin-modal {
  width: 0;

  .sin-inputs {
    margin: 1rem 0;

    .sin-input {
      margin: 1rem 0 0;
      width: 25rem;
    }
  }
}

.travel-limit-modal {
  .modal-content {
    gap: 1rem;
  }
}

@import './Track.scss';
@import './precise/PreciseMovement.scss';
