$second-line-controls-cutoff: 1350px;

.linear.moveable-section {
  grid-template-areas:
    'image home  run-l  jog-l stop  jog-r run-r pos'
    'image track track  track track track track track'
    'misc  misc  misc   misc  misc  misc  misc  misc';
  grid-template-columns: auto auto auto auto auto auto auto 1fr;
  gap: 0 0.25rem;

  .track {
    grid-area: track;
    gap: 0.25rem;
    height: 100%;

    .flex-component.row {
      width: 100%;
      height: 100%;
    }

    .interactive-line {
      height: 1rem;

      &.activated {
        .track-line .indicators .position-indicator,
        .end-stop,
        .track-line .line {
          background-color: $zaber-grey;
        }
      }

      .end-stop {
        width: 0.3rem;
        height: 100%;
        background-color: $light-grey;
        margin: 0 0.125rem;
      }

      .track-line {
        flex: 1;
        position: relative;
        display: flex;
        height: 100%;

        .line {
          height: 0.25rem;
          background-color: $light-grey;
          flex: 1;
          align-self: center;
        }

        // this section lays on top of the track-line and is sized so the position indicator at 0% is at the beginning of the track-line
        // and at 100% is at the end of the track-line
        .indicators {
          $position-indicator-width: 2.5rem;
          position: absolute;
          width: calc(100% - $position-indicator-width);
          left: calc($position-indicator-width / 2);
          height: 100%;

          .position-indicator {
            position: absolute;
            height: 100%;
            width: $position-indicator-width;
            background-color: $light-grey;
            transform: translate(-50%, 0);
          }

          svg > path {
            stroke-width: 3;
            stroke: $light-grey;
            fill: #fff;
          }

          .hover-info {
            height: 100%;
            width: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;

            .inside-track {
              height: 100%;
            }

            .above-track {
              position: absolute;
              bottom: 100%;
              color: $light-grey;
            }
          }

          .move-target {
            width: 0.5rem;
            position: absolute;
            top: 100%;
            transform: translate(-50%, 0);
          }
        }
      }
    }

    .limit-pos {
      font-size: 0.75rem;
      color: $light-grey;
      align-self: end;
    }
  }
}

.linear.lockstep {
  grid-template-rows: auto 39px;
}

.cyclic.moveable-section {
  grid-template-areas:
    'image home run-l jog-l stop jog-r run-r track pos'
    'image null null  null  null null  null  track pos';
  grid-template-columns: auto auto auto auto auto auto 4rem auto 1fr;
  gap: 0 0.25rem;

  .track {
    grid-area: track;
    position: relative;

    .rotary {
      translate: 20rem;
    }
  }

  .jog-away {
    transform: scaleX(-1);
  }

  .move-index-next {
    transform: scaleX(-1);
  }
}
