.choose-method {
  min-width: fit-content;
  background-color: $white;
  border: 1px solid $almost-white;
  margin: 1rem;

  .methods {
    min-width: 40rem;
    padding-top: 1rem;
    background: $white;
    position: sticky;
    top: 0;
    z-index: 1;
    
    .minor-menu.horizontal {
      width: fit-content;
      margin: auto;
    }
  }

  .servo-tuning {
    padding: 1rem;
    position: relative;
    
    @import './tuners/Advanced.scss';
    @import './tuners/PID.scss';
    @import './tuners/Simple.scss';
    @import './tuners/LoadPreset.scss';
    @import './saved_rows/ImportExport.scss';

    .buttons {
      padding: 2rem 1rem 1rem;
    }
  }
}
