.servo-tuner {
  margin-left: 1rem;

  .choose-paramset {
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    height: 100%;

    .minor-menu-item {
      cursor: pointer;
    }

    .servo-tuning-warning {
      grid-column: 1 / 3;
      margin: 1rem;
    }

    .settings {
      grid-column: 1 / 3;
      border-bottom: 1px solid $pale-grey;
      padding: 1.25rem 1.25rem 0.75rem;
      display: flex;
      flex-direction: row;
      align-items: start;
      grid-gap: 0.5rem;

      .separator {
        height: 100%;
        border-left: 1px solid $pale-grey;
      }

      .input-editor {
        flex: 1;
      }

      @at-root .servo-tuner-setting-editor.editing-popup {
        width: 33vw;
        z-index: 1;
      }

      .pop-up-content {
        color: $zaber-grey;
      }
    }

    .paramset-list {
      grid-column: 1;
      grid-row: 3;
      overflow-y: auto;
      padding-top: 1rem;

      .paramset .minor-menu-item .content {
        display: flex;
        align-items: center;
        padding-right: 1rem;

        .paramset-label {
          flex-grow: 1;
          margin-bottom: 0;
        }

        .power-on-popup {
          margin-left: auto;

          .power-on {
            height: auto;
            width: 0.5rem;
            margin-right: 1rem;
            color: $green;
          }
        }

        .context-menu {
          flex-grow: 0;
          margin-left: auto;
        }
      }
    }

    .paramset-pane {
      grid-column: 2;
      grid-row: 3;
      overflow: auto;

      .no-content {
        padding-bottom: 3rem;
      }

      @import './ChooseMethod.scss';
    }

    >.available-controls {
      border-top: 1px solid $pale-grey;
      display: flex;
      flex-direction: row;
      padding: 1rem 2rem;
      grid-column: 1 / 3;

      .text-span {
        font-size: 1rem;
      }

      .button-row {
        margin-left: auto;
      }
    }
  }
}

@import './components/ParamTable.scss';
