/*
 * Kinda match the public website font family and color
 */
html {
    font-family: "Arial", "Helvetica", sans-serif;
    color: #333
}

/*
 * Match public website link color
 */
a {
    color: #a7191c;
}

/*
 * Make command and setting names monospaced
 */
.asciisetting,
.asciicmd,
.parmname {
    font-family: monospace;
}

.dataparmname {
    font-family: monospace;
    font-style: italic;
}

.binarycmd {
    font-style: italic;
}

/*
 * Make headings visually different
 */
.topictitle1,
.topictitle2,
.topictitle3 {
    border-bottom-style:solid;
    margin-top: 2em;
    /* Match public website heading colors */
    color: #555;
}

.sectiontitle {
    font-size: 1em;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    margin-top: 2em;
}

/*
 * Make definition lists display as a grid
 */
.dl {
    display: grid;
    grid-template-columns: max-content auto;
}

.dt {
    grid-column: 1;
}

.dd {
    grid-column: 2;
    margin-left: 1em;
    -webkit-margin-start: 1em;
    margin-bottom: 0.6em;
    -webkit-margin-after: 0.6em;
}

.dt > *:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
}

.dd > *:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
}

.dd > *:last-child {
    margin-bottom: 0;
    -webkit-margin-after: 0;
}

.dd p {
    margin-top: 0;
    -webkit-margin-before: 0;
    margin-bottom: 0.3em;
    -webkit-margin-after: 0.3em;
}

/*
 * Remove accumulated margin on nested definition lists
 */
.dd > dl {
    margin-bottom: 0;
    -webkit-margin-after: 0;
}

.dd > dl > .dd:last-child {
    margin-bottom: 0;
    -webkit-margin-after: 0;
}

/*
 * Indent content under major headings
 */
.body,
article > .shortdesc,
article > .related-links {
    margin-left: 1.5em;
}

/*
 * Restrict the width of the content and fix the navigation
 * to the side of window.
 */
header {
    text-align: center;
}

/**
 * Add a nice box around all codeblocks and screens
 */
.codeblock,
.screen {
    font-family: monospace;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: whitesmoke;
    margin-top: 1em;
    margin-bottom: 1em;
}

/**
 * Style tables
 */
table {
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

table > caption {
    text-align: left;
}

table > caption > .table--title-label {
    font-style: italic;
}

tr > th[scope="row"] {
    text-align: left;
}

td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table + table {
    margin-top: 2em;
}

/**
 * Format equations
 */
.equation-block,
.equation-inline {
    font-style:italic;
}

.equation-block {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}