.notice-toast.new-version-available {
  .flex-component {
    gap: 1rem;
  }

  .message.top-line {
    padding-top: 0;
  }
}

.update-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .message {
    .svg-icon {
      font-size: 1rem;
    }

    > .green {
      color: $green;
    }

    > .red {
      color: $just-red;
    }
  }
}
