.demo {
  .reset-button {
    display: flex;
    align-items: center;

    .svg-icon {
      margin-right: 0.5rem;
    }
  }

  .axis,
  .all {
    margin: 1rem 1rem 0;
    padding: 0.5rem 1rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  .spacer {
    flex: 1;
  }

  .axis {
    .header {
      display: flex;
      align-items: center;
    }

    > div {
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .all {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    > .svg-icon {
      margin-left: 1rem;
    }
  }

  .settings-dialog {
    .input {
      flex: 1;

      textarea {
        height: 20rem;
        resize: vertical;
      }
    }
  }
}
