.precise-movements {
  .contents {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    gap: 0.5rem;
    padding: 1rem;

    .controls {
      padding: 0 0.125rem 0 0;
      align-self: start;
      margin-top: 1.75rem;
    }
  }



  .input-label-row {
    margin-bottom: 0.25rem;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}
