.io-card {
  width: 100%;
}

.io {
  .device {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
    row-gap: 0.25rem;
    margin: 1rem;

    .di {
      grid-column: 1;

      .status {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;

        &.off {
          color: $light-grey;
          background-color: $almost-white;
        }

        &.on {
          color: $green;
          background-color: $pale-green;
        }
      }
    }

    .do {
      grid-column: 2;

      .toggle-button {
        font-size: 1.25rem;
      }
    }

    .ai {
      grid-column: 3;
    }

    .ao {
      grid-column: 4;

      .input-editor:not(.editing-popup) {
        width: 7rem;
      }
    }

    .control {
      min-height: 2rem;
      gap: 1rem;
    }

    .fixed-width {
      width: 3rem;
    }

    .errors {
      grid-column: 1/5;

      .error {
        border: 1px solid $pale-grey;
        margin: 0.25rem 0.5rem 0;
      }
    }
  }

  .label {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0.25rem;
    column-gap: 1rem;

    .edit-label {
      display: block;
      margin-top: 0.75rem;
    }

    .input {
      margin-top: 0.5rem;
    }
  }
}
