.new-routers {
  .router {
    margin: 0.5rem 0;

    display: flex;
    align-items: center;

    .name {
      margin-right: 2rem;
    }

    .added {
      display: flex;
      align-items: center;
      color: $green;
    }

    .spacer {
      flex: 1;
    }
  }
}
