.about-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: $zaber-white;

  > .content {
    margin: 2rem;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        margin-bottom: 0.5rem;
      }

      > svg {
        width: 5.75rem;
        margin: 3rem 0;
      }
    }
  }

  > .spacer {
    flex: 1;
  }

  .copyright {
    text-align: center;
    padding-bottom: 2.5rem;
  }
}
