.contact-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: $zaber-white;

  > .content {
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    > svg {
      width: 5.75rem;
      margin: 1.5rem 0;
    }
  }

  .card {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    min-width: 33rem;

    .heading {
      display: flex;
      align-items: center;

      > svg {
        height: $icon-size-std;
        margin-right: 1rem;
      }
    }

    .action {
      margin-top: 1.5rem;
      margin-left: $icon-size-std + 1rem;

      &.centered {
        text-align: center;
        margin-left: 0;
      }
    }
  }
}
