.save-load {
  .compatibility-grid {
    display: grid;
    grid-template-columns: auto auto minmax(15rem, auto) auto 1fr;
    background-color: $white;
    border-left: 1px solid $almost-white;
    border-right: 1px solid $almost-white;

    > * {
      border-bottom: 1px solid $almost-white;
      padding: 1rem 0.5rem;
    }

    .compatibility-grid-header {
      grid-column: 1 / 6;
      padding: 0.5rem 1rem;
      background-color: $almost-white;
    }

    .address {
      grid-column: 1;
      padding-left: 1rem;
    }

    .controller-name {
      grid-column: 2 / 4;
    }

    .axis-number {
      grid-column: 1 / 3;
      padding-left: 1rem;
    }

    .axis-name {
      grid-column: 3;
    }

    .result-icon {
      grid-column: 4;
    }

    .result {
      grid-column: 5;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
    }

    .error {
      color: $error-fault;
    }

    .warning {
      color: $error-warning;
    }

    .note {
      color: $error-note;
    }

    .success {
      color: $green;
    }
  }

  .load-type-section {
    .text-span {
      margin: 1rem 0;
      display: block;
    }

    .radio-button {
      margin-bottom: 0.5rem;
    }
  }

  .back-and-apply-buttons {
    gap: 1rem;
    margin-top: 1rem;
  }

  .working {
    display: flex;
    flex-direction: column;
    align-items: center;

    .svg-icon {
      margin: 3rem 0 2rem;
    }
  }
}
