.config {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .table {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    gap: 0.5rem 1rem;
    align-items: center;

    .label {
      grid-column: 1;
    }

    .device {
      grid-column: 2;
    }

    .axis {
      grid-column: 3;
    }

    .message {
      grid-column: 4;
    }
  }

  .save {
    .svg-icon {
      color: $error-warning;
      font-size: 1rem;
    }
  }

  >.loading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .wdi-search {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .digital-output {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
