.curve-view {
  display: flex;
  flex-direction: column;
  height: 99%;
  background-color: $white;
  border: 1px solid $pale-grey;
  position: relative;

  .controls {
    display: flex;
    align-items: center;
    margin: 1rem;

    :nth-child(3) {
      flex: 1;
    }

    @import './DrawingAxisSelector.scss';
  }

  .usage .notice-banner {
    margin: 0 1rem;
  }

  @import './PointPropertiesTooltip.scss';

  .drawing {
    width: 100%;
    min-height: 10rem;
    flex: 1;

    .out-of-bounds {
      stroke: none;
      fill: $almost-white;
    }

    .marker {
      stroke: $green;
      stroke-width: 2;
      fill: none;

      &.error {
        stroke: $bright-red;
      }
    }

    .curve {
      fill: none;
      stroke: $black;
      stroke-width: 2;
    }

    .device-position {
      stroke: $blue;
      stroke-width: 2;
      fill: none;
    }

    .zoom-selection {
      stroke: none;
      fill: $blue;
      opacity: 50%;
    }

    @import './ControlPoints.scss';
    @import './Grid.scss';
    @import './VelocityControl.scss';
  }
}
