.axis-label {
  fill: $zaber-grey;
  font-weight: bold;
}

.tick-label {
  font-family: monospace;
}

.grid-line {
  stroke: $blue;
  stroke-width: 1;
}

.position-limit {
  stroke-width: 2;
  stroke-dasharray: 4;
}

