.tooltip {
  z-index: 1;
  position: fixed;
  border: 1px solid $zaber-grey;
  border-radius: 0.5rem;
  background-color: $white;
  font-size: small;
  padding: 0.5rem;

  @import '../ToolTipTable.scss' ;
}
