.joystick-app {
  select {
    padding-right: 2rem;
  }

  .joystick {
    > .notice-banner {
      margin: 1rem;
    }
  }

  .axes {
    margin: 1rem;

    > .contents {
      display: grid;
      grid-template-columns: repeat(8, max-content);
      align-items: center;
      padding: 0.5rem;

      > * {
        margin: 0.5rem;
      }
    }

    .maxspeed,
    .maxspeed-native,
    .resolution {
      max-width: 8rem;
    }

    .axis-name {
      grid-column-start: 1;
      margin-right: 2rem;
    }

    .device-select {
      grid-column-start: 2;
    }

    .axis-select {
      grid-column-start: 3;
      min-width: 8rem;
    }

    .maxspeed {
      grid-column-start: 5;
    }

    .device-num {
      grid-column-start: 2;
    }

    .axis-type-select {
      grid-column-start: 3;
    }

    .axis-num {
      grid-column-start: 4;
    }

    .maxspeed-native {
      grid-column-start: 5;
    }

    .speed-profile-select {
      grid-column-start: 6;
    }

    .inverted-select {
      grid-column-start: 7;
    }

    .resolution {
      grid-column-start: 8;
    }

    .text-helper {
      color: $light-grey;
      margin-bottom: 0;
    }
  }

  .joystick-key {
    margin: 1rem;

    > .header {
      gap: 0.25rem;

      .spacer {
        flex: 1;
      }
    }

    > .contents {
      display: grid;
      grid-template-columns: repeat(4, max-content) 1fr max-content;
      align-items: center;
      padding: 0.5rem;

      > * {
        margin: 0.5rem;
      }
    }

    .event-select {
      grid-column-start: 1;
    }

    .device-select {
      grid-column-start: 2;
    }

    .axis-type-select {
      grid-column-start: 3;
    }

    .axis-select {
      grid-column-start: 4;
      min-width: 6rem;
    }

    .device-num {
      grid-column-start: 2;
    }

    .axis-num {
      grid-column-start: 4;
    }

    .commant-text {
      grid-column-start: 5;
    }

    .delete-command {
      grid-column-start: 6;
    }

    .text-helper {
      color: $light-grey;
      margin-bottom: 0;
    }

    .ascii-ref {
      grid-column-start: 5;
      grid-column-end: 7;
      justify-self: end;
      display: flex;
      align-items: center;
      text-decoration: underline;
    }
  }

  .axis-num,
  .device-num {
    max-width: 5rem;
  }

  .minor-menu {
    margin: 1rem;

    .minor-menu-item {
      cursor: pointer;
      margin-bottom: 0;
      padding-bottom: 0.2rem;

      > .content {
        padding: 0 1rem;
        padding-bottom: 0.125rem;
        display: flex;
        align-items: center;
        height: 2.875rem;

        .svg-icon {
          font-size: $icon-size-mid;
        }
      }

      .pop-up-content {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    > .right-side {
      flex: 1;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .calibration {
    > .contents {
      padding: 0.5rem;

      > div {
        margin: 0.5rem;
      }
    }

    ol {
      list-style: decimal;
      padding-left: 1.75rem;

      li {
        padding: 0.125rem;
      }
    }

    .button-row {
      margin-top: 1rem;

      .button {
        min-width: 15rem;
      }
    }

    p:first-child {
      margin-top: 0;
    }

    .notice-banner {
      margin-bottom: 1rem;
    }
  }

  .select-key {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .joystick-picture {
      align-self: stretch;

      display: flex;
      flex-direction: column;
      align-items: center;
      height: 16rem;
    }
  }

  .select-key-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
  }

  .changes-pending {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > .svg-icon {
      font-size: 1.5rem;
      color: $error-warning;
    }
  }

  .production-mode {
    .text-span {
      display: flex;
      align-items: center;
    }
  }
}
