.gcode {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: stretch;

  .editor-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .editor {
    overflow: hidden;
    flex: 1;
    margin: 1px 0;

    .block-warning {
      background-color: #ff0;
    }

    .block-error-margin {
      background-color: #ffcccb;
    }

    .block-error {
      background-color: #ffa3a2;
    }

    .block-performing-margin {
      z-index: 1;

      &::after {
        content: url('../assets/gcode_current_line.svg');
        width: 100%;
        margin-top: 0.25rem;
      }
    }
  }

  .top-panel {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: $white;
    box-shadow: 1px 0 0.25rem #00000029;

    .menu {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;

      > .input-checkbox,
      .svg-icon,
      .status-text {
        margin: 0 0.5rem;
      }

      .flex-spacer {
        flex: 1;
      }

      .separator {
        height: $icon-size-std;
        width: 1px;
        background: $light-grey;
        margin: 0 0.25rem;
      }

      .status-text {
        margin-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .help-tooltip {
        &.disabled {
          .svg-icon {
            color: $pale-grey;
          }
        }
      }
    }

    .notice-banner {
      .content {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > div {
          flex: 1;
        }

        .svg-icon {
          margin: -1rem 0;

          &.prev {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .axes-panel {
    background: $white;
    box-shadow: 1px 0 0.625rem #00000029;
    z-index: 2;
    overflow: auto;

    > .header {
      padding: 0 1rem;
      min-height: 3.25rem;
      background: $pale-grey;
      display: flex;
      align-items: center;
      white-space: nowrap;

      .spacer {
        flex: 1;
      }

      a {
        margin-left: 1rem;
      }
    }

    .no-controller {
      display: flex;
      flex-direction: column;
      align-items: center;

      > * {
        display: block;
        white-space: nowrap;

        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      > img {
        height: 4rem;
      }
    }

    .axis {
      > div {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        min-height: 2.25rem;

        &:last-of-type {
          margin-bottom: 0.25rem;
        }
      }

      > .header {
        background: $almost-white;
      }

      .spacer {
        flex: 1;
      }

      .controls {
        gap: 0.5rem;
      }
    }

    > .separator {
      height: 1px;
      background: $almost-white;
    }

    .feed-rate-override {
      padding-left: 1rem;

      input {
        width: 4rem;
      }
    }

    .free-hold {
      padding-left: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      .toggle-button {
        font-size: 1.5rem;
      }
    }
  }

  .settings {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .setting {
      display: flex;
      align-items: center;
      min-height: 2.25rem;

      &:not(:last-child) {
        padding-bottom: 0.5rem;
      }

      > span:first-child {
        font-weight: bold;
        min-width: 7.5rem;
      }

      > .pop-up,
      > .units {
        margin-left: 1rem;
      }

      select {
        min-width: 6rem;
      }
    }

    .card {
      .contents {
        padding: 0.5rem 1rem;
      }
    }

    .loading {
      display: flex;
      align-items: center;
    }

    .select-different-controller {
      margin-right: auto;
    }
  }

  .cmd {
    padding: 0.5rem 1rem;
    background-color: $white;
    box-shadow: 1px 0 0.25rem #00000029;
    z-index: 1;

    > div {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .line {
      display: flex;

      .input {
        flex: 1;
      }

      .svg-icon {
        margin-left: 0.5rem;
      }
    }
  }
}

.gcode-popup {
  z-index: 3;
}
