.basic-movement {
  $controls-size: 3rem;
  $second-line-controls-cutoff: 1350px;

  flex: 1;
  overflow: auto;

  .section-heading {
    padding: 1rem 1rem 0.25rem;
    color: $light-grey;
    display: inline-block;
  }

  .pinned-axes-container {
    background-color: $almost-white;
    border-top: 2px solid $pale-grey;
    border-bottom: 2px solid $pale-grey;
    box-shadow: inset 11px 0 10px -10px rgba(0, 0, 0, 0.12);
  }

  .axis-card,
  .all-devices {
    margin: 1rem;
  }

  .all-devices {
    svg {
      font-size: $controls-size;
      color: $light-grey;
    }

    .header {
      padding: 0.75rem 1.25rem;
      background: $almost-white;
      border-bottom: 1px solid $pale-grey;
    }

    .controls {
      padding: 0.5rem;
      display: flex;

      .move {
        margin-left: 3rem;

        svg {
          margin: 0 0.5rem;
        }
      }
    }
  }

  > .spacer {
    border-top: 2px solid $pale-grey;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .axis-grid {
    display: grid;
    @media (min-width: $second-line-controls-cutoff) {
      grid-template-areas:
        'axis-label axis-label axis-label pos-label pin   menu'
        'image      home       jog        pos       pos   pos'
        'image      track      track      track     track track'
        'info       info       info       info      info  info'
        'adv        adv        adv        adv       adv   adv';
      grid-template-columns: auto auto 1fr auto ($icon-size-std + 2rem) ($icon-size-std + 2rem);
      grid-template-rows: auto auto 1fr auto auto;
    }
    @media (max-width: $second-line-controls-cutoff) {
      grid-template-areas:
        'axis-label axis-label axis-label pos-label pin   menu'
        'image      image      .          pos       pos   pos'
        '.          home       .          jog       jog   jog'
        '.          track      track      track     track track'
        'info       info       info       info      info  info'
        'adv        adv        adv        adv       adv   adv';
      grid-template-columns: 1.5rem auto 1fr auto ($icon-size-std + 2rem) ($icon-size-std + 2rem);
      grid-template-rows: auto auto auto 1fr auto auto;
    }

    .separator {
      grid-row: axis-label-start;
      grid-column: 1 / -1;

      border-bottom: 1px solid #ddd;
    }

    .axis-label {
      grid-area: axis-label;

      display: flex;
      align-items: center;
      padding-left: 1.25rem;
      margin-right: 1rem;

      svg {
        color: $zaber-grey;

        &.dropdown-arrow {
          font-size: 1rem;
        }
      }

      .dropdown-initiator {
        cursor: pointer;
      }

      .dropdown-info {
        position: absolute;
        background-color: #fff;
        box-shadow: 2px 3px 6px 2px #00000029;
        border-radius: 2px;
        top: 2.3rem;

        div {
          margin: 1rem;
        }
      }
    }

    .track-and-minmax-controls {
      grid-area: track;

      margin-top: 0.5rem;
      margin-right: 1rem;

      display: flex;
      align-items: center;

      .interactive-track {
        flex: 1;
      }

      svg {
        font-size: $controls-size;
      }
    }

    .position-label {
      grid-area: pos-label;

      margin-left: 1rem;
    }

    .position {
      grid-area: pos;

      margin: 0 0.5rem;

      input {
        width: 7rem;
      }
    }

    .menu {
      grid-area: menu;

      a {
        text-decoration: none;
      }
    }

    .pin {
      grid-area: pin;
    }

    @mixin axis-image($axis-image-width) {
      width: $axis-image-width;
      display: flex;
      flex-direction: column;
      align-items: center;

      img,
      object {
        margin: auto;
        max-width: $axis-image-width;
        max-height: 7rem;

        >  img {
          height: 7rem;
        }
      }
    }

    .thumbnail-container {
      $border-grid: 1px solid #ddd;
      grid-column-start: image;
      margin: 0 1rem;

      display: grid;
      grid-template-columns: [left-column] auto [right-column] auto;
      grid-template-rows: [top-row] auto [bottom-row] auto;

      .axis-image {
        &.normal {
          @include axis-image(11rem);
        }

        &.compressed {
          @include axis-image(6rem);
          padding: 0.5rem;
        }
      }

      &.count2 {
        .axis-image.index0 {
          border-right: $border-grid;
        }
      }

      &.count3 {
        .axis-image.index0 {
          grid-column-start: left-column;
          grid-column-end: span 2;
          justify-self: center;
          border-bottom: $border-grid;
        }

        .axis-image.index1 {
          grid-column-start: left-column;
          grid-row-start: bottom-row;
          border-right: $border-grid;
        }

        .axis-image.index2 {
          grid-column-start: right-column;
          grid-row-start: bottom-row;
        }
      }

      &.count4 {
        .axis-image.index0 {
          border-right: $border-grid;
          border-bottom: $border-grid;
        }

        .axis-image.index1 {
          border-left: $border-grid;
          border-bottom: $border-grid;
        }

        .axis-image.index2 {
          border-right: $border-grid;
          border-top: $border-grid;
        }

        .axis-image.index3 {
          border-left: $border-grid;
          border-top: $border-grid;
        }
      }
    }

    .device-info {
      grid-area: info;
      margin: 0.5rem 1.25rem;
    }

    .jog-controls {
      grid-area: jog;

      place-self: center;
      display: flex;
      margin: 0.5em;

      svg {
        font-size: $controls-size;
        margin: 0 0.5rem;
      }
    }

    .home {
      grid-area: home;

      align-self: center;
      justify-self: start;
      margin: 0.5em 0;

      svg {
        font-size: $controls-size;
      }
    }

    .advanced {
      grid-area: adv;

      .title-container {
        border-top: 1px solid $pale-grey;
        display: flex;

        .title {
          width: fit-content;

          display: flex;
          align-items: center;

          padding: 0.25rem 0.75rem;
          cursor: pointer;

          span {
            color: $zaber-grey;
            font-weight: bold;
            margin-left: 0.5rem;
          }
        }
      }

      .section-content {
        border-top: 1px solid $pale-grey;
        padding: 1rem 1.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        > div {
          flex: 1;
        }

        label {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          .pop-up-trigger {
            font-size: 1rem;

            svg {
              font-size: 1rem;
            }
          }

          .pop-up-content {
            color: $zaber-grey;
            font-family: $font-family;
          }
        }
      }

      .precise-control {
        max-width: calc(50% - 0.5rem);

        .input-row {
          gap: 0.5rem;
        }

        input {
          min-width: 7rem;
        }

        .error-tooltip-content.position-top {
          width: 10rem;
        }

        .controls {
          display: flex;
          flex-direction: row;
          min-width: calc(3 * $controls-size);

          .svg-icon {
            min-width: $controls-size;
            font-size: $controls-size;
          }
        }
      }
    }

    .pin,
    .menu {
      margin: 0.2rem 0;
      place-self: center;
    }

    .position,
    .position-label {
      align-self: center;
    }
  }

  .errors .error {
    border-top: 1px solid $pale-grey;
    padding: 0.3rem 1.25rem;

    &.error-note {
      .header {
        color: $error-note;
      }
    }

    &.error-warning {
      .header {
        color: $error-warning;
      }
    }

    &.error-fault {
      .header {
        color: $error-fault;
      }
    }

    svg {
      padding-right: 1rem;
    }

    .show-details {
      color: $light-grey;
      margin-left: 1rem;
    }

    .header {
      display: flex;
      align-items: center;

      .description {
        flex: 1;
        padding: 0.5rem 0;
      }

      button {
        padding: 0.4rem 2rem;
      }

      .title {
        animation: basic-movement-error-title 1s;
        animation-iteration-count: 2;
      }
    }
  }
}

@keyframes basic-movement-error-title {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}
