.basic-movement {
  .interactive-track {
    height: 1rem;
    display: flex;
    flex-direction: row;

    .end-stop {
      width: 6px;
      height: 100%;
      background-color: $light-grey;

      &.left {
        margin-left: 8px;
        margin-right: 2px;
      }

      &.right {
        margin-right: 8px;
        margin-left: 2px;
      }
    }

    .empty-track {
      height: calc(50% - 1px);
      border-bottom: 2px solid $light-grey;
    }

    .indicator-fill {
      height: 100%;
      flex: 1;
      background-color: $light-grey;
    }

    &.activated,
    &:hover {
      .empty-track {
        border-bottom-color: $zaber-grey;
      }

      .indicator-fill,
      .end-stop {
        background-color: $zaber-grey;
      }
    }

    &:hover .hover-info,
    .persistent.hover-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hover-info {
      display: none;

      height: 100%;
      width: 0;
      position: relative;

      svg > path {
        stroke-width: 3;
        stroke: $light-grey;
        fill: #fff;
      }

      .inside-track {
        height: 100%;
      }

      .above-track {
        position: absolute;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-grey;

        svg {
          height: 1rem;
        }
      }
    }

    .below-track {
      height: 1rem;
      position: absolute;
      top: 100%;
    }
  }
}
