.info-grid {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: fit-content(0) fit-content(0) 1fr fit-content(0);
  column-gap: 1rem;

  .icon {
    grid-row: 1;
    grid-column: 1;
  }

  .title {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    font-weight: bold;
  }

  .info {
    grid-row: 2;
    grid-column: 2;

    > * {
      display: block;
      margin: 1rem 0;
    }
  }

  .buttons,
  .flex-component {
    grid-row: 4;
    grid-column: 2;
    justify-self: right;
    width: fit-content;
    margin-top: 1rem;
  }

  .error {
    color: $error-fault;
  }

  .warning {
    color: $error-warning;
  }

  .note {
    color: $error-note;
  }

  .success {
    color: $green;
  }
}
