.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 2rem;
  padding: 4rem 10% 0;

  > .text-span {
    display: block;
    text-align: center;
  }

  > * {
    margin-bottom: 2rem;
  }

  .working {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .notice-banner {
    .notice-content {
      > .title {
        display: block;
        margin-bottom: 0.25rem;
      }
    }
  }
}

.modal-content {
  .no-content {
    padding: 0;

    .text-span {
      margin-top: 1rem;
    }
  }
}
