.remote-mode-switch {
  margin-right: 1rem;
  column-gap: 0.5rem;

  &.has-error {
    .simple-select {
      > div {
        border: 1px solid $bright-red;
      }
    }
  }
}

.ethercat-mode-switch-help {
  div {
    width: 30rem;
  }
}
