.section-menu {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .menu {
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    margin-left: 1rem;

    .minor-menu-item {
      cursor: pointer;

      &.is-sub {
        margin-left: 2rem;
      }

      &.disabled {
        cursor: unset;
      }
    }
  }

  .sections {
    height: 100%;
    width: calc(100% - 1rem);
    padding: 0 1rem;
    overflow-y: scroll;
    flex: 1;
  }
}
