.sticky-scroll-div {
  .go-to-bottom {
    position: sticky;
    bottom: 0.5rem;
    margin: -2.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .button {
      display: flex;
      align-items: center;
      padding: 0 1.5rem 0 1rem;

      &.hidden {
        display: none;
      }
    }
  }
}
