.connection-table {
  .svg-icon {
    &.connection-type-icon {
      margin: 0;
    }
  }

  .router {
    .router-header {
      display: flex;
      align-items: center;
      padding-right: 1.25rem;

      > .spacer {
        flex: 1;
      }
    }

    .no-connections {
      margin: 1.25rem 0 1.25rem 2.5rem;
      padding: 1rem;
      background: $almost-white;
    }
  }

  .connection-name {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .connection-name-input {
    display: flex;
    align-items: center;

    .connection-type-icon {
      cursor: pointer;
    }

    .editable-field {
      min-height: initial;
    }
  }

  .notice-message {
    background-color: $white;
    padding: 0.75rem 1rem;
  }
}
