$preferences-left-margin: $content-header-margin-left + 1rem;

.preferences-page {
  background-color: $zaber-white;
  height: 100%;
  overflow: auto;

  .preferences {
    margin-top: 1.5rem;
    margin-left: $preferences-left-margin;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 1rem;

    .preference-label {
      grid-column: 1;

      .label-text {
        margin-right: 0.5rem;
      }
    }

    .preference-custom-component {
      grid-column: 2;
    }

    .preference-input {
      grid-column: 3;
      justify-content: flex-end;

      .toggle-button {
        font-size: 1.5rem;
      }

      .restore-icon {
        margin-left: 0.5rem;
      }
    }
  }
}

.launcher-name {
  display: flex;
  align-items: center;

  label {
    margin-right: 1rem;
  }

  .input-editor {
    width: 15rem;

    &.editing-popup {
      width: 25rem;
    }
  }
}
