.editable-input-with-unit {
  &.no-units {
    .input-line {
      margin-right: calc(6.5rem + 1px);
    }
  }

  .input-row {
    position: relative;

    .edit-controls {
      flex: 0 0 6.6rem;
      width: 6.6rem;

      .svg-icon {
        &.edit,
        &.locked {
          margin: 0 0.5rem;
        }

        &.locked {
          color: $light-grey;
        }
      }
    }

    .click-to-edit {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      cursor: text;
    }
  }
}
