.input-with-units {
  --value-separator-margin: 0.5rem;
  --input-line-padding: 0.5rem;
  $transparent: rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.align-right input {
    text-align: right;
  }

  .input-line {
    padding: 0.25rem var(--input-line-padding);

    .value-unit-separator {
      width: 1px;
      height: 1rem;
      margin-left: var(--value-separator-margin);
      background-color: $light-grey;
    }

    .fixed-unit {
      color: $zaber-grey;
      padding: 0 1rem 0 0.75rem;
      white-space: nowrap;
    }
  }
}
