.connection-manager {
  background: $zaber-white;
  height: 100%;
  overflow: auto;

  .content-header {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }

  .one-time-message {
    margin: 1rem;
  }

  .connection-table {
    margin: 1rem;
  }

  .no-devices-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

    >img {
      max-width: 32rem;
    }

    >h4 {
      margin-bottom: 4rem;
    }

    .add-connection-button {
      margin-top: 2rem;
    }
  }

  .internal-devices-warning {
    margin: 1.5rem 2rem;
  }
}

.connection-with-device {
  margin: 1.25rem 0;
  margin-left: 2.5rem;

  .connection-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0;

    .spacer {
      flex: 1;
    }
  }

  .header>.svg-icon {
    margin: 0;
  }

  .controller,
  .axis {
    display: flex;
    align-items: center;

    padding-left: calc(0.5rem - 1px);
    padding-right: 1.25rem;
    border-bottom: 1px solid $almost-white;

    &:last-child {
      border-bottom: none;
    }

    &.info,
    &.warning,
    &.error {
      border: 1px solid;
      border-left-width: 0.5rem;
      padding-left: 0;
    }

    &.info {
      border-color: $error-note;
    }

    &.warning {
      border-color: $error-warning;
    }

    &.error {
      border-color: $error-fault;
    }
  }

  .controller {
    >.non-reachable {
      font-size: 1.5rem;
      color: $error-warning;
      margin-right: 1rem;
    }
  }

  .axis,
  .device-picture {
    height: 4rem;
  }

  .axis.integrated {
    height: 3rem;
  }

  .device-description,
  .axis-description {
    flex: 1;
  }
}

@import './connection_table/connection_table.scss';
@import './device_table/device_table.scss';
@import './connection_view/ConnectionsView.scss';
@import './components/NewRouters.scss';
