.add-connection {
  &.modal {
    width: fit-content;
    min-width: 50%;
    max-width: 75%;
    min-height: 40%;
  }

  .subheading {
    margin: 1rem 0;
  }

  .horizontal-group {
    padding-top: 1.5rem;
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .input {
    margin: 0.5rem 0;
  }

  .choose-connection-type {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .detect-devices,
  .discover-mdns,
  .discover-local-share,
  .connect-local-share,
  .candidates,
  .add-to-router,
  .configure-tcp,
  .select-port,
  .connect-cloud {
    flex: 1;
    display: flex;
    flex-direction: column;

    .external-link {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }

  .detect-devices,
  .candidates {
    .device-table {
      border: 1px solid $almost-white;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .connection {
      display: flex;
      align-items: center;
      background: $almost-white;
      padding: 0.5rem;
    }

    .controller,
    .axis {
      display: flex;
      align-items: center;
      background: $white;
      border-top: 1px solid $almost-white;
    }

    .device-description,
    .axis-description {
      padding: 0 1rem;
    }
  }

  .detect-devices {
    .notice-message {
      .content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .add-to-router {
    .error {
      color: $error-fault;
      margin-bottom: 2rem;
    }
  }

  .choose-connection-type {
    label {
      margin-bottom: 0.5rem;
    }
  }

  .select-port {
    .simple-select {
      margin: 0.5rem 0;
      width: 25rem;
    }

    .input-checkbox {
      margin-bottom: 0.5rem;
    }
  }

  .select-port,
  .configure-tcp {
    .tcp-connection-type-wrapper {
      align-items: flex-start;
      margin: 1rem 0;

      .tcp-connection-type {
        align-items: flex-start;

        .connection-type-tooltip {
          margin-left: 0.5rem;

          .svg-icon {
            font-size: 2rem;
          }
        }
      }
    }

    .input {
      width: 15rem;
    }
  }

  .loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
  }

  .loading-row {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .button-row {
    padding-top: 1.5rem;
    margin-top: auto;
  }

  .baud-rate {
    display: flex;

    .help-tooltip {
      margin-top: 1.75rem;
      margin-left: 0.5rem;
    }
  }

  .notice-banner {
    margin-top: 1rem;
  }

  .connect-local-share {
    .input {
      margin-top: 1rem;
      max-width: 20rem;
    }
  }

  .discover-mdns {
    justify-content: flex-end;

    .header-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .search {
        display: flex;
        align-items: center;
      }
    }

    .controller {
      justify-content: space-between;

      .button-select {
        margin: 1rem;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }
}
