.device-settings {
  display: flex;
  height: 100%;
  background: $zaber-white;

  .settings {
    display: flex;
    flex-direction: column;
  }

  .settings-container {
    display: flex;
    flex: 1;
    overflow: hidden;

    .sections {
      overflow: auto;
      flex: 1;
      display: grid;
      grid-template-columns: [start] auto [input] 1fr [lock] auto [refresh] auto [help] auto [end];
      column-gap: 0.5rem;
      align-items: start;

      .sections-subgrid {
        display: grid;
        grid-column: start / end;
        grid-template-columns: subgrid;
      }

      >.space-fill {
        height: calc(100% - 4rem - 4rem); // parent - category header size - setting size with paddings
      }

      .category {
        margin-bottom: 2.5rem;

        >.title {
          min-height: $icon-size-std;
          margin-bottom: 0.5rem;

          .show-documentation {
            grid-column: help;
          }
        }

        >.protocol-manual {
          grid-column: start / end;
          border: 1px solid $almost-white;
        }
      }
    }
  }

  .device-setting {
    background: $almost-white;
    margin: 0 0 1rem;

    .device-setting-content {
      padding: 0.5rem 1rem;

      .name {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-column: start;

        margin-right: 0.5rem;

        .ascii-code {
          margin-top: 0.2rem;
        }

        em {
          background: $yellow;
        }
      }

      .input-editor {
        grid-column: input;
        justify-self: end;
        width: 15rem;
      }

      .svg-icon {
        &.setting-input {
          margin: 0;
        }
      }

      .locked {
        grid-column: lock;
      }

      .refresh {
        grid-column: refresh;
      }

      .protocol-manual-toggle {
        grid-column: help;
      }
    }

    .setting-notice {
      grid-column: start / end;
    }

    .setting-network {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: end;
    }
  }

  .top-panel {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3.25rem 1.5rem 2rem;
    margin-left: 0.5rem;
    align-items: center;
    z-index: 1;
    background-color: $zaber-white;

    .top-panel-row {
      width: 100%;
      gap: 1rem;

      .search-bar {
        min-width: 15rem;
        width: 15rem;

        .search-icon {
          color: $light-grey;
        }
      }

      span {
        display: flex;
        align-items: center;
        margin: 0 1rem;
      }

      .refresh-all {
        display: flex;
        min-width: 20rem;
        justify-content: flex-end;
      }
    }

    .device-error {
      width: 100%;
      margin-top: 1rem;
    }
  }

  .protocol-manual-container {
    border: 1px solid $almost-white;
    background: $white;
    padding: 0.625rem 1.5rem 0.675rem 0;
    grid-column: start / end;

    .protocol-manual {
      padding-bottom: 0;
    }

    .default-value {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding: 0 0 0.5rem 1.5rem;
    }
  }

  .protocol-manual {
    .topictitle1,
    .topictitle2,
    .topictitle3 {
      display: none;
    }
  }

  .choose-network-settings {
    h3 {
      margin: 0;
    }

    .notice-banner {
      margin-bottom: 1rem;
    }

    .network-settings {
      flex: 1;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
      }

      .input {
        width: 15rem;
        margin: 0.75rem 0 0.25rem;
      }

      .input-checkbox {
        margin-top: 0.5rem;
      }


      .error-message {
        display: flex;
        color: $error-fault;
        align-items: center;

        .svg-icon {
          font-size: 1.25rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
