.servo-tuning-param-table {
  border: 1px $almost-white solid;

  thead {
    background-color: $almost-white;
  }

  .servo-tuning-param-row {
    th,
    td {
      text-align: left;
      padding: 0.5rem;
    }
  }

  tbody {
    .servo-tuning-param-row:nth-child(odd) {
      background-color: $white;
    }

    .servo-tuning-param-row:nth-child(even) {
      background-color: $almost-white;
    }
  }
}
