.add-math-dialog {
  .modal-content {
    display: grid;
    grid-template-columns: auto max-content;

    @import './DialogTabs.scss';
  }

  .groups-list {
    max-height: 60vh;
    overflow-x: auto;
    overflow-y: auto;
    background-color: $white;
    padding: 1rem;
    gap: 1rem;
    align-items: stretch;

    .card {
      &.header-card .header {
        font-size: 1.125rem;
        font-weight: bold;
        padding: 1rem;
      }

      .contents {
        margin: 0.5rem;
        display: grid;
        grid-template-columns: max-content max-content auto;
        row-gap: 0.5rem;
        justify-items: left;
        align-items: center;

        .visibility {
          grid-column: 1;
          margin-right: 1rem;

          .svg-icon {
            font-size: 1.5rem;
          }
        }

        .color-picker {
          grid-column: 2;
          margin-right: 1.25rem;
        }

        .color-picker-placeholder {
          grid-column: 2;
          margin-right: 1.25rem;
          width: 1.25rem;
        }

        .label {
          grid-column: 3;
          margin-right: 1rem;
        }
      }
    }
  }
}
