.channel-groups-row {
  padding: 1rem;
  align-items: flex-start;
  align-self: center;
  gap: 1rem;

  .channel-groups-column {
    align-items: flex-start;
    gap: 1rem;

    .channel-card {
      box-shadow: none;
      width: 27rem;

      .channel-card-header {
        width: 100%;
        gap: 1rem;

        .chevron {
          font-size: $icon-size-std;

          &.disabled {
            cursor: default;
          }
        }

        .add {
          font-size: $icon-size-std;
        }
      }

      .channel-group-name {
        display: flex;
        flex-wrap: nowrap;
        margin: 1rem;
      }

      .channel-group {
        display: grid;
        grid-template-columns: 2rem 1.5rem 10rem 1.5rem 3px 1.5rem 2.25rem;
        grid-gap: 1rem;
        align-items: center;
        justify-items: left;
        padding: 0 1rem 1rem;

        .channel {
          &.svg-icon {
            font-size: $icon-size-std;
          }

          &.input-checkbox {
            grid-column: 2;
          }

          &.color-picker {
            grid-column: 3;

            .popup {
              z-index: 4;
            }
          }

          &.label {
            grid-column: 3;
          }

          &.y-left-icon {
            grid-column: 4;
          }

          &.y-separator {
            height: 2rem;
            width: 1px;
            border-right: solid 1px $pale-grey;
            grid-column: 5;
          }

          &.y-right-icon {
            margin-left: -1rem;
            grid-column: 6;
          }

          &.close-icon {
            grid-column: 7;
          }
        }
      }
    }
  }
}
