.chart-area {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0.5rem;

  .chart-tooltip {
    display: grid;
    grid-template-columns: repeat(auto, 4);
    align-items: center;
    margin-bottom: -0.5rem;

    .time {
      grid-column: 1;
      margin-right: 0.75rem;
    }

    .swatch {
      grid-column: 2;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-right: 0.75rem;
    }

    .title {
      grid-column: 3;
      margin-right: 0.75rem;
    }

    .subtitle {
      grid-column: 3;
      margin-bottom: 0.5rem;
      font-size: small;
      color: $light-grey;
    }

    .value {
      grid-column: 4;
    }
  }
}
