.add-data-source-dialog {
  .modal-content {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto max-content;

    @import './DialogTabs.scss';
  }

  .settings-list {
    max-height: 60vh;
    overflow-x: auto;
    overflow-y: auto;
    background-color: $white;
    padding: 1rem;
  }

  .control-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1rem;

    .search-icon {
      font-size: $icon-size-std;
      color: $light-grey;
    }

    .left-controls {
      display: flex;

      .search-bar {
        width: 12rem;
      }
    }

    .left-controls {
      align-items: center;
    }

    .show-all-settings {
      margin-left: 2rem;
      margin-right: 5rem;

      .svg-icon {
        font-size: 1.5rem;
      }
    }
  }

  .card {
    margin-bottom: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);

    &.header-card .header {
      font-size: 1.125rem;
      font-weight: bold;
      padding: 1rem;
    }

    .contents {
      margin: 0.5rem;
      padding-bottom: 0.5rem;
      display: grid;
      grid-template-columns: max-content max-content auto;
      row-gap: 0.5rem;
      justify-items: left;
      align-items: center;
      width: 98%;

      .visibility {
        grid-column: 1;
        margin-right: 1rem;

        .svg-icon {
          font-size: 1.5rem;
        }
      }

      .color-picker {
        grid-column: 2;
        margin-right: 1.25rem;
      }

      .color-picker-placeholder {
        grid-column: 2;
        margin-right: 1.25rem;
        width: 1.25rem;
      }

      .label {
        grid-column: 3;
        margin-right: 1rem;
      }
    }
  }

  .settings-pills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;

    .pill {
      display: flex;
      align-items: center;
      height: 2rem;
      width: max-content;
      border-radius: 0.5rem;
      background-color: $pale-grey;
      padding: 0;
      padding-left: 0.5rem;
      margin: 0.25rem;

      .svg-icon {
        font-size: 1.5rem;
      }
    }
  }

  .pop-up-content {
    width: 15rem;
  }
}
