.minor-menu > div {
  display: inline-flex;
}

.minor-menu-item {
  display: inline-flex;
}

.minor-menu.horizontal {
  border-bottom: 1px solid $pale-grey;
  margin-bottom: 1rem;
}

div .active > .minor-menu-item > .content {
  background-color: $almost-white;
}
