.add-io-channel-dialog {
  .modal-content {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto max-content;

    @import './DialogTabs.scss';

    .minor-menu {
      .active .minor-menu-item {
        border-bottom: 1px solid $almost-white;
      }
    }

    .pins-list {
      background-color: $white;
      padding: 1rem;
      gap: 1rem;
      align-items: stretch;

      .card {
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);

        &.header-card .header {
          font-size: 1.125rem;
          font-weight: bold;
          padding: 1rem;
        }

        .contents {
          margin: 1rem;
          display: grid;
          grid-template-columns: max-content max-content auto;
          row-gap: 1rem;
          justify-items: left;
          align-items: center;
          width: 98%;

          .visibility {
            grid-column: 1;
            margin-right: 1rem;

            .svg-icon {
              font-size: 1.5rem;
            }
          }

          .color-picker {
            grid-column: 2;
            margin-right: 1.25rem;
          }

          .color-picker-placeholder {
            grid-column: 2;
            margin-right: 1.25rem;
            width: 1.25rem;
          }

          .label {
            grid-column: 3;
            margin-right: 1rem;
          }
        }
      }
    }

    .pop-up-content {
      width: 15rem;
    }
  }
}
