.oscilloscope {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem;
  background-color: $zaber-white;

  .recording-tab-panel {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid $pale-grey;

    .spacer {
      flex: 1;
    }

    .button.clear {
      min-width: max-content;
      margin-left: 1rem;

      div {
        display: flex;
        align-items: center;

        .svg-icon {
          font-size: $icon-size-std;
          margin-right: 0.25rem;
        }
      }
    }

    @import './RecordingTabs.scss';
  }

  .recording-tab-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid $almost-white;

    @import './Charts.scss';

    .status-bar {
      display: flex;
      align-items: center;
      background-color: $white;
      padding: 0.5rem 1rem 0.5rem 2rem;
      min-height: 2rem;

      div {
        display: flex;
      }

      .axis-label {
        justify-self: flex-start;
        align-items: center;
      }

      .spacer {
        flex-grow: 1;
      }

      .unit-toggle {
        justify-self: flex-end;
        align-items: center;
        margin-right: 2rem;

        .text-span {
          margin-right: 0.5rem;
        }
      }

      .sample-rate {
        justify-self: flex-end;
        margin-right: 2rem;
      }

      .context-menu {
        justify-self: flex-end;

        .style-bubble.align-end {
          transform: translate(calc(-100% + 1.5rem), 0);
        }

        .pop-up-content {
          flex-direction: column;
        }
      }

      .control-area-menu-placeholder {
        justify-self: flex-end;
        width: 2rem;
        margin-left: 2rem;
      }
    }
  }

  .control-panel-expander {
    background-color: $zaber-white;
    grid-row: 2;
    grid-column: 1/4;
    border-radius: 0;
    height: 1rem;
    margin: 0;
    width: 100%;

    &:hover {
      background-color: $almost-white;
    }

    &.show {
      path {
        transform-origin: center;
        transform: rotate(270deg);
      }
    }

    &.hide {
      path {
        transform-origin: center;
        transform: rotate(90deg);
      }
    }
  }

  .control-panel {
    height: 21rem;
    min-height: 21rem;

    display: grid;
    grid-template-columns: min-content auto auto;

    .tab-header {
      display: grid;
      grid-template-columns: max-content;
      grid-template-rows: min-content auto 3rem 3rem;
      margin: 1rem 1rem 0 0;

      .martin-feature {
        display: flex;
        justify-content: center;
        margin: 0.5rem;
        margin-top: 2rem;
        min-height: 2rem;

        .input-checkbox {
          align-self: flex-start;
          max-width: 9rem;
          margin-right: 0.5rem;
        }
      }

      .record-button,
      .download-button,
      .stop-button {
        grid-row: 3;
        margin: 0.5rem 0.75rem;
        width: 10rem;
      }

      .replace-button {
        grid-row: 4;
        margin: 0.5rem 0.75rem;
        width: 10rem;
      }
    }

    .minor-menu-item {
      cursor: pointer;
    }

    .tab-body {
      grid-column: 2/4;
      height: 100%;
      overflow-y: auto;
      background-color: $white;
      border: 1px solid $almost-white;
      border-left: 0;

      .channel-tab {
        @import './ChannelsTab.scss';

        min-width: fit-content;
      }

      @import './SettingsTab.scss';
    }
  }

  @import './ChannelMathDialog.scss';
  @import './DataSourceDialog.scss';
  @import './IoChannelDialog.scss';

  .progress-dialog {
    .modal-content {
      gap: 1rem;
      padding-bottom: 1rem;
    }
  }

  .embedded-help {
    margin: 1rem;

    .code-snippet-group-container {
      .title {
        background-color: $almost-white;
      }

      .title.active {
        background-color: $white;
      }

      .code-snippet {
        font-size: 0.75rem;

        > pre {
          background-color: $white !important;
        }
      }
    }
  }
}
