.recording-tabs {
  display: flex;
  margin-bottom: -1px;

  .react-horizontal-scrolling-menu--wrapper {
    align-items: center;
    display: grid;
    grid-auto-flow: column;

    .menu-scroll-left {
      order: 1;
      margin: 0.25rem;
      margin-left: 0.375rem;

      &:not(.clickable) {
        color: $pale-grey;
      }
    }

    .menu-scroll-right {
      order: 2;
      margin: 0.25rem;
      margin-right: 0.375rem;

      &:not(.clickable) {
        color: $pale-grey;
      }
    }

    .svg-icon {
      font-size: $icon-size-std;
      align-self: center;
    }

    .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
      display: none;
    }
  }

  .recording-tab {
    display: flex;
    align-items: center;
    height: 4rem;
    width: max-content;
    border-bottom: 0;
    padding-right: 0.25rem;
    cursor: pointer;

    &.not-selected {
      .input-editor {
        pointer-events: none;

        .input-line {
          background-color: $translucent;
          border: 0;

          input {
            color: inherit;
          }
        }
      }
    }

    &:not(.not-selected) {
      .input-line {
        background-color: $almost-white;

        input {
          font-weight: bold;
        }
      }
    }

    &.new-recording-tab {
      padding-right: 0.5rem;
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      gap: 0.5rem;

      .input {
        max-width: 7rem;
      }

      .text-span {
        font-family: $font-family;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
