.settings-tab {
  display: grid;
  grid-template-columns: max-content auto;
  justify-items: left;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 0.75rem;
  padding: 1rem;

  .input-with-units {
    max-width: 16rem;
  }

  .combo-box {
    width: 14rem;
    margin-right: 0.5rem;

    &.signal-axis {
      width: 10rem;
    }
  }

  .item-row {
    gap: 0.5rem;
  }

  .col1 {
    grid-column: 1;
  }

  .col2 {
    grid-column: 2;

    &.control-group {
      grid-column: 2/4;
      display: flex;
      flex-wrap: nowrap;
      gap: 0.5rem;
    }

    &.input-slider {
      grid-column: 2;

      .label-container {
        .text-body {
          font-size: 0.75rem;
        }
      }
    }
  }

  .hr {
    grid-column: 1/3;
    justify-self: stretch;
    background-color: $pale-grey;
    height: 2px;
  }

  .pair {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    align-items: center;
  }
}
