<article class="topic reference nested2" aria-labelledby="ariaid-title271" data-setting="limit.max" id="topic_setting_limit_max"><span id="setting_limit_max"></span>
  <h3 class="title topictitle3" id="ariaid-title271"><span class="keyword">Driver Current Hold Percentage</span></h3>
  
  <div class="body refbody"><p class="shortdesc">The percentage of rated current to use when holding position.</p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Scope</span></dt>
          <dd class="dd"><span class="keyword">Axis</span></dd>
        
          <dt class="dt dlterm"><span class="keyword">Persistence</span></dt>
          <dd class="dd"><span class="keyword">Non-volatile</span></dd>
        
      </dl>
    </section>
    <section class="section">
      <p class="p">
        In most applications, the axis motor does not need to use its full rated current during normal operation.
        Using too much current can cause excessive amounts of heat,
        so Zaber products are usually configured to use somewhat less than the rated current.
      </p>
      <p class="p">
        This is especially true when holding position.
        Typically, the motor needs to exert less effort to stay stationary than it does to move,
        which means that the hold percentage should usually be less than the run percentage.
        If there is constant backdriving pressure on the axis, this might not be the case and hold percentage may need to be adjusted.
      </p>
      <p class="p">
        If your motor produces unexpected or dangerous amounts of heat while holding position,
        consider decreasing the driver current hold percentage.
        If your motor displaces too easily while stopped, consider increasing the hold percentage.
      </p>
    </section>
  </div>
</article>