<article class="topic reference nested2" aria-labelledby="ariaid-title271" data-setting="limit.max" id="topic_setting_limit_max"><span id="setting_limit_max"></span>
  <h3 class="title topictitle3" id="ariaid-title271"><span class="keyword asciisetting">limit.max</span></h3>
  
  <div class="body refbody"><p class="shortdesc">The axis can move repeatedly through the same area of travel, despite not changing direction</p>

    <section class="section">
      <p class="p">
        For example, a rotary axis will move in a circle, and if it is allowed to move greater than 360 degrees,
        it will eventually return to its starting position. Therefore, a rotary axis that can move in at least one full circle is cyclic.
        If it is constrained to a range of fewer than 360 degrees, it cannot make a full cycle, and thus is not cyclic.
      </p>
      <p class="p">
        Axes that produce linear motion (such as with a lead screw) are typically not cyclic,
        since the motion is physically constrained at both ends of travel.
      </p>
    </section>
  </div>
</article>