<article class="topic reference nested2" aria-labelledby="ariaid-title271" data-setting="limit.max" id="topic_setting_limit_max"><span id="setting_limit_max"></span>
  <h3 class="title topictitle3" id="ariaid-title271"><span class="keyword asciisetting">limit.max</span></h3>
  
  <div class="body refbody"><p class="shortdesc">The rated current for this axis</p>
    
    <section class="section">
      <dl class="dl">
        
          <dt class="dt dlterm"><span class="keyword">Valid Values</span></dt>
          <dd class="dd">0.001 Amps to 3036.995 Amps </dd>

          <dt class="dt dlterm"><span class="keyword">Scope</span></dt>
          <dd class="dd"><span class="keyword">Axis</span></dd>
        
          <dt class="dt dlterm"><span class="keyword">Persistence</span></dt>
          <dd class="dd"><span class="keyword">Non-volatile</span></dd>
        
      </dl>
    </section>
    <section class="section">
      <p class="p">The rated current of the axis motor, based on its specifications. Some manufacturers might simply call this "current per phase," "maximum current per phase," or similar. </p>
      <p class="p">This value will not always be used while running the motor. Instead, some fraction of it will drive the axis when it is in motion or holding position, denoted by the Driver Run Current Percentage and Driver Hold Current Percentage. These values should be chosen to produce the desired performance from the axis without producing excess heat or mechanical wear. </p>
    </section>
  </div>
</article>