<article class="topic reference nested2" aria-labelledby="ariaid-title271" data-setting="limit.max" id="topic_setting_limit_max"><span id="setting_limit_max"></span>
  <h3 class="title topictitle3" id="ariaid-title271"><span class="keyword asciisetting">limit.max</span></h3>
  
  <div class="body refbody"><p class="shortdesc">The number of rotations per minute that the motor will turn</p>
    
    <section class="section">
      <dl class="dl">
          <dt class="dt dlterm"><span class="keyword">Scope</span></dt>
          <dd class="dd"><span class="keyword">Axis</span></dd>
        
          <dt class="dt dlterm"><span class="keyword">Persistence</span></dt>
          <dd class="dd"><span class="keyword">Non-volatile</span></dd>
        
      </dl>
    </section>
    <section class="section">
      <p class="p">
        This is the speed that the motor will move in situations where no more specific velocity has been given.
        In other words, if a command is sent to the axis that instructs the motor to move,
        without providing any more information, the motor will use this target velocity to achieve that.
        Commands which specify a velocity will override this value.
      </p>
      <p class="p">
        Note that this value describes the motor’s RPM,
        and does not take into account any gearing that might be present between the motor and the actuator.
      </p>
      <p class="p">
        The value set in this field is used to calculate
        the <a href="#topic_setting_maxspeed"><span class="keyword asciisetting" data-setting="maxspeed">maxspeed</span></a> firmware setting.
      </p>
    </section>
  </div>
</article>