<article class="topic reference nested2" aria-labelledby="ariaid-title271">
  <div class="body refbody"><p class="shortdesc">Number of position units per 360 degrees</p>

    <section class="section">
      <p class="p">
        The number of position units in one millimetre of travel depends upon properties of the motor, the axis mechanics, and the driving firmware. For an axis with a stepper motor, this is also the number of microsteps per one millimetre and can be calculated as follows:
      </p>
      <p class="p">
        Microsteps Per Rotation = Motor Steps Per Rotation x Resolution x Motor Rotations Per Axis Rotation
      </p>
      <p class="p">
        For most Zaber stepper motor products, the motor has 200 steps per rotation and the resolution is 64. Thus, in an example system with these measurements and a 5:1 gear ratio:
      </p>
      <p class="p">
        Microsteps Per Revolution = 200 steps per rotation x 64 position units per step x 5 rotations per 360 degrees = 64,000 position units per 360 degrees
      </p>
    </section>
  </div>
</article>
