<article class="topic reference nested2" aria-labelledby="ariaid-title271">
  <div class="body refbody"><p class="shortdesc">Change the default unit conversions supplied by software</p>

    <section class="section">
      <p class="p">
        Zaber software uses a defined conversion factor to translate between position units and real-world units on this axis. Under normal circumstances, that conversion factor should not be changed. If the hardware has been modified in a way that changes the relationship between the movement of the motor and the motion of the end-effector, however, overriding the unit conversion factor can keep the conversions to real-world units accurate.
      </p>
      <p class="p">
        For example, if additional gearing is applied to a stepper motor such that a single turn of the motor no longer corresponds to a single turn of the end effector, unit conversions will need to be overridden so that Zaber software can take that into account.
      </p>
    </section>
  </div>
</article>
