<article class="topic reference nested2" aria-labelledby="ariaid-title271">
  <div class="body refbody"><p class="shortdesc">Number of position units per 1 mm</p>

    <section class="section">
      <p class="p">
        The number of position units in one millimetre of travel depends upon properties of the motor, the axis mechanics, and the driving firmware. For an axis with a stepper motor, this is also the number of microsteps per one millimetre and can be calculated as follows:
      </p>
      <p class="p">
        Microsteps Per Millimetre = Motor Steps Per Rotation x Resolution x Rotations Per Millimetre
      </p>
      <p class="p">
        For most Zaber stepper motor products, the motor has 200 steps per rotation and the resolution is 64. Thus, in an example system with these measurements and a lead screw that turns once for every two millimetres of travel:
      </p>
      <p class="p">
        Microsteps Per Millimetre = 200 steps per rotation x 64 position units per step x ½ rotations per millimetre = 6,400 position units per millimetre
      </p>
      <p class="p">
        For an axis with a linear motor, position units are equivalent to encoder counts, so this is the number of encoder counts per one millimetre. Thus, in an example system where the encoder count size is one nanometre:
      </p>
      <p class="p">
        Encoder Counts Per Millimetre = 1 count per nanometre x 1,000,000 nanometres per millimetre = 1,000,000 counts per millimetre
      </p>
    </section>
  </div>
</article>
