<article class="topic reference nested2" aria-labelledby="ariaid-title271">
  <div class="body refbody"><p class="shortdesc">Allows use of real-world units in software</p>

    <section class="section">
      <p class="p">
        This axis does not have a defined conversion between position units and real-world units. Unless that conversion is supplied, Zaber software will only be able to send or receive measurements (such as position, velocity, and acceleration) in terms of position units (or microsteps). Enabling unit conversions and supplying a conversion factor will allow Zaber software to appropriately handle measurements in real-world angles, metric distances, and other units.
      </p>
    </section>
  </div>
</article>
