.device-io-app {
  .loading {
    display: flex;
    align-items: center;
    padding: 1rem;

    .svg-icon {
      margin-right: 1rem;
    }
  }

  .notice-banner {
    margin: 0.5rem;
  }

  .spacer {
    flex: 1;
  }
}


.device-io {
  $digital-io-width: 3.5rem;
  $analog-io-width: 4rem;
  margin: 1rem;

  > .contents {
    padding: 0.5rem;
  }

  > .header {
    padding-left: 1rem;
  }

  .io-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  table {
    border-collapse: collapse;
    text-align: center;
    margin: 0.5rem;

    td {
      vertical-align: middle;
    }
  }

  .channel-numbers {
    font-weight: bold;

    td {
      padding: 0.25rem;
    }
  }

  .channel-lines {
    td {
      &:last-child {
        .lines > div:last-child {
          border-top: none;
        }
      }

      &:first-child {
        text-align: left;
        vertical-align: top;
        font-weight: bold;
      }
    }

    .lines {
      display: flex;

      > div {
        flex: 1;
        height: 1rem;
        border-top: 1px solid $pale-grey;
        margin-top: 0.625rem;

        &:first-child {
          border-right: 1px solid $pale-grey;
        }
      }
    }
  }

  .io-digital-inputs {
    span {
      &.on {
        color: $green;
      }

      &.off {
        color: $light-grey;
      }
    }

    .dot {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      border: 1px solid $light-grey;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;

      &.on {
        background-color: $green;
        border-color: $green;
      }
    }

    .values {
      td > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: $digital-io-width;
      }
    }
  }

  .io-digital-outputs {
    .toggle-button {
      font-size: 1.25rem;
      transform: rotate(-90deg);
      margin: 1rem 0;
    }

    .on {
      color: $green;
    }

    .off {
      color: $light-grey;
    }

    .values {
      td > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: $digital-io-width;
      }
    }
  }

  .io-analog-inputs {
    .values {
      td {
        padding: 0.5rem 0;
        min-width: $analog-io-width;
      }
    }
  }

  .io-analog-outputs {
    .values {
      td {
        min-width: $analog-io-width;
      }

      .editable-field {
        flex-direction: column;

        > span {
          padding: 0.5rem 0;
        }

        input {
          max-width: 4rem;
        }

        > .svg-icon,
        > .confirm-cancel {
          margin-top: 0.25rem;
        }
      }
    }
  }

  .io-digital-inputs,
  .io-digital-outputs {
    .channel-name {
      min-width: 7.5rem;
    }
  }

  .io-analog-inputs,
  .io-analog-outputs {
    .channel-name {
      min-width: 9rem;
    }
  }
}
