.axis-peripheral {
  display: flex;
  align-items: center;
  flex: 1;

  .peripheral-select {
    display: flex;
    align-items: center;

    .select-input {
      min-width: 16rem;
    }

    .names {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .text-span {
        display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
        -webkit-line-clamp: 3;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }
  }

  .button {
    margin: 0 1rem;
  }

  .message {
    margin: 0.25rem 0 0.25rem 1rem;
    overflow: hidden;

    .title {
      white-space: nowrap;
    }

    &.info {
      .title {
        color: $error-note;
      }
    }

    &.warning {
      .title {
        color: $error-warning;
      }
    }

    &.error {
      .title {
        color: $error-fault;
      }
    }

    .svg-icon {
      font-size: 1rem;
      margin: 0;
    }

    >.content {
      display: block;
      margin-left: 1.25rem;
      margin-top: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .loader {
    margin: 0 0.5rem;
  }

  .spacer {
    flex: 1;
  }

  .monitor-error {
    margin-left: auto;
    font-size: 1.5rem;
    color: $error-fault;
  }
}

.axis-integrated {
  display: flex;
  align-items: center;
  flex: 1;

  .spacer {
    flex: 1;
  }
}
