.csv {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .saved-rows {
    .header {
      background-color: $almost-white;
    }

    .saved-row {
      $name-width: 10rem;
      $param-width: 4.5rem;
      $apply-width: 15rem;
      $delete-width: 3rem;
      $gap-width: 1rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      grid-gap: $gap-width;
      padding: 0.5rem $gap-width;
      min-width: calc($name-width + 2 * $param-width + $apply-width + $delete-width + 8 * $gap-width);

      .name {
        flex: 0 0 $name-width;
      }

      .gain {
        flex: 0 0 $param-width;
      }

      .raw {
        flex: 0 0 $param-width;
      }

      .pad {
        flex: 1 1 0;
      }

      .apply {
        flex: 0 0 $apply-width;
      }

      .delete {
        flex: 0 0 $delete-width;
      }
    }

    .saved-data {
      border: 1px $almost-white solid;

      .servo-tuning-param-table {
        width: calc(100% - 2rem);
        margin: 1rem;
        box-sizing: border-box;
      }
    }
  }
}
