.calibration-app {
  .app-ui {
    display: flex;
    flex-direction: column;
  }

  .input input[type=number],
  textarea {
    font-family: monospace;
  }

  textarea {
    height: 100%;
  }

  .table {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto auto auto 1fr auto;
    gap: 0.25rem 1rem;
    align-items: center;
    margin: 1rem;
    flex: 1;

    .values {
      grid-column: span 2;
      align-self: stretch;
    }

    .values-label {
      margin-top: 0.5rem;
    }

    .input:not(.values) {
      justify-self: start;
    }
  }

  .controls {
    margin: 1rem;

    .button {
      min-width: 12rem;
    }
  }

  .chart {
    margin: 1rem;
  }

  .validation-error {
    color: $error-fault;
  }

  .errors {
    display: flex;
    flex-direction: column;

    > div {
      margin: 1rem;
    }
  }

  .svg-icon {
    &.warn {
      color: $error-warning;
    }
  }

  .button {
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .svg-icon {
      font-size: 1.5rem;
    }

    &.disabled {
      .svg-icon {
        color: $light-grey;
      }
    }
  }

  .spacer {
    flex: 1;
  }
}
